<div *ngIf="tipo == 'personas'">
    <h6>Correo electrónico:</h6>
    <p class="ms-1">{{ (dato.email != '')?(dato.email):'Sin información' }}</p>
    <h6>Dirección:</h6>
    <p class="ms-1">{{ (dato.direccion != '')?(dato.direccion):'Sin información' }}</p>
    <h6>Fecha de nacimiento:</h6>
    <p class="ms-1">{{ (dato.fechanac != '')?(dato.fechanac|date:'dd-MM-yyyy'):'Sin información' }}</p>
    <h6>Nacionalidad:</h6>
    <p class="ms-1">{{ (dato.nacionalidad != '')?(dato.nacionalidad):'Sin información' }}</p>
</div>
<div *ngIf="tipo == 'mascotas'">
    <h6>Especie:</h6>
    <p class="ms-1">{{ (dato.especie != '')?(dato.especie):'Sin información' }}</p>
    <h6>Dirección:</h6>
    <p class="ms-1">{{ (dato.direccion != '')?(dato.direccion):'Sin información' }}</p>
    <h6>Fecha de nacimiento:</h6>
    <p class="ms-1">{{ (dato.fechanac != '')?(dato.fechanac|date:'dd-MM-yyyy'):'Sin información' }}</p>
</div>
<div *ngIf="tipo == 'vehiculos'">
    <h6>Color:</h6>
    <p class="ms-1">{{ (dato.color != '')?(dato.color):'Sin información' }}</p>
    <h6>Patente:</h6>
    <p class="ms-1">{{ (dato.patente != '')?(dato.patente):'Sin información' }}</p>
    <h6>Año:</h6>
    <p class="ms-1">{{ (dato.anio != '')?(dato.anio):'Sin información' }}</p>
    <h6>Aseguradora:</h6>
    <p class="ms-1">{{ (dato.aseguradora != '')?(dato.aseguradora):'Sin información' }}</p>
    <h6>Nro. de seguro:</h6>
    <p class="ms-1">{{ (dato.nroseguro != '')?(dato.nroseguro):'Sin información' }}</p>
</div>
