<nav class="navbar">
    <ul class="navbar-nav d-flex flex-column p-1 pe-3 w-100">
      <li class="nav-item mb-1" >
        <a class="nav-link ps-3" routerLink = "dashboard" routerLinkActive = "active">Tablero</a>
      </li>
      <li class="nav-item mb-1" >
        <a class="nav-link ps-3" routerLink = "tags" routerLinkActive = "active">Mis tags</a>
      </li>
      <li class="nav-item mb-1">
          <a class="nav-link ps-3" routerLink = "configuration" routerLinkActive = "active" >Configuración</a>
      </li>
    </ul>
</nav>
