<div class="body-content">
    <div class="title-content">
        <div class="title-header">
            <p>Tags perdidos</p>
        </div>
        <div class="title-body">
            <p>Filtrar por: </p>
            <select class="form-control" name="" id="">
                <option value="" disabled selected>Elegí un tipo <i class="fa-solid fa-chevron-down"></i></option>
                <option value="">Personas</option>
                <option value="">Mascotas</option>
                <option value="">Vehículos</option>
            </select>
        </div> 
    </div>
    <div class="card-deck card-content">
            <app-card-alert></app-card-alert>
            <app-card-alert></app-card-alert>
            <app-card-alert></app-card-alert>
            <app-card-alert></app-card-alert>
            <app-card-alert></app-card-alert>
    </div>
</div>

