<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Redes sociales</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="cerrar()"></button>
  </div>
  <div class="modal-body" style="padding: 0.5rem 1.5rem 0.75rem;">
      <div class="input-group row m-0">
          <label for="label_lit_social" class="mb-2">Elegí una red social</label>
              <div class="col-12 border outbox_social" id="label_lit_social" >
                  <div *ngFor="let red of redes">
                      <button type="button" 
                              class="rounded box-lit-social fa-brands fa-2x" 
                              name="{{ red.id }}" 
                              title="{{ red.nombre }}"
                              [ngClass]="red.clase"
                              [style.color]="red.color"
                              [style.boxShadow]="(redSeleccionado == red.id)?'rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px':''"
                              (click)="seleccionarRed($event)"
                      >
                      </button>
                  </div>
              </div>
          <div class="col-12 mt-3 p-0">
              <label for="input_lit_social" class="mb-2 ps-3">Escribí tu usuario/número en la red social elegida</label>
              <div class="input-group" id="input_lit-social">
                  <span class="input-group-text">{{ this.redTexto }}</span>
                  <input type="text" class="form-control" placeholder={{this.redDetalle}} [disabled]="this.redTexto == ''" (change)="crearVinculo($event)">
              </div>
          </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="cerrar($event)" [disabled]="this.redFormato == ''">Guardar</button>
  </div>
