<form [formGroup]="form" class="p-3" (ngSubmit)="onSubmit()">

    <!-- Nuevo nombre -->
    <div class="mb-2">
      <label for="InputNombre" class="form-label ps-2">Ingresa tu nombre de usuario</label>
      <input type="text" 
             class="form-control input-style"
             id="InputNombre" 
             aria-describedby="newNombreHelp"
             formControlName="nombre"
             placeholder="Escribí aquí..."
             (focus)="actualizarSmt()"
             [ngClass]="form.get('nombre')?.valid?'is-valid':(((form.get('nombre')?.invalid)&&(form.get('nombre')?.dirty||form.get('nombre')?.touched))?'is-invalid':'')"
      />
      <div style="height: 15px; font-size: 0.9rem;">
        <div class="invalid-feedback d-flex justify-content-start mt-0" *ngIf="(form.get('nombre')?.invalid)&&(form.get('nombre')?.dirty||form.get('nombre')?.touched)">
          <span *ngIf="form.get('nombre')?.errors?.['required']">"Nombre" es requerido.</span>
          <span *ngIf="form.get('nombre')?.errors?.['minlength']">"Nombre" mín. 3 caracteres.</span>
          <span *ngIf="form.get('nombre')?.errors?.['maxlength']">"Nombre" max. 15 caracteres.</span>
        </div>
      </div>
    </div>

    <input type="hidden" formControlName="id">

    <button type="submit" 
            class="btn btn-primary form-control mt-1" 
            [disabled]="form.invalid || estadoSmt != 'actualizar'"        
    >
      <span *ngIf="estadoSmt == 'actualizar'">Actualizar</span>
      <span *ngIf="estadoSmt == 'load'">Loading...</span>
      <span *ngIf="estadoSmt == 'ok'">Ok!</span>
      <span *ngIf="estadoSmt == 'error'">Error!</span>
    </button>
</form>