<div class="mb-2 p-2" [style.background]="(this.datos.fondo)?(this.datos.fondo):'bg-secondary'">
    <img class="img-circle-section" [src]="foto_perfil" alt="{{ this.datos.nivel }}">
    <div>
        <h2 class="text-center">{{ usuario }}</h2>
        <div class="text-center">{{ this.datos.ciudad }}</div>
    </div>
    <div class="box-section">
        <div class="icon-section" *ngIf="this.sociales.length">
            <ng-container *ngFor="let social of sociales">
                <a type="button" class="btn btn-circle-section" title="{{ social.link }}" [href]=social.link>
                    <i class="fa-brands fs-social" [ngClass]="redes[social.id_red].clase"></i>
                </a>
            </ng-container>
        </div>
        <div class="data-section" style="height: 200px;">
            <div class="data-section-box">
                <div class="col"
                     title="Datos personales"
                     [ngClass]="(leaf_selected == 'data')?'bg-light':''" 
                     (click)="select_leaf('data')"
                >
                     <i class="fas fa-id-card fs-data"></i>
                </div>
                <div class="col"
                     title="Contacto responsable"
                     [ngClass]="(leaf_selected == 'contact')?'bg-light':''" 
                     (click)="select_leaf('contact')"
                >
                    <i class="fas fa-user-friends fs-data"></i>
                </div>
                <div class="col"
                    title="Información importante"
                     [ngClass]="(leaf_selected == 'info')?'bg-light':''"  
                     (click)="select_leaf('info')"
                >
                    <i class="fas fa-info fs-data"></i>
                </div>
            </div>
            <div class="data-section-info" *ngIf="leaf_selected == 'data'">
                <h4>Datos personales</h4>

            </div>
            <div class="data-section-info" *ngIf="leaf_selected == 'contact'">
                <h4>Contacto</h4>

            </div>
            <div class="data-section-info" *ngIf="leaf_selected == 'info'">
                <h4>Información</h4>

            </div>
        </div>
    </div>
</div>
