.card-box {
    border: none; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card-box-header {
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 180px;
}

.img-circle-section {
    position: absolute;
    bottom: -105px;
    width: 45%;
    margin: 0 27.5%;
    border: 8px solid white;
    border-radius: 50%;
}

.card-box-body {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: calc(100% - 180px);
    padding-top: 120px;
}

.box-section {
    margin: 0.25rem 3rem 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 2.75rem;
}

.icon-section {
    display: flex;
    justify-content: center;
    padding: 0.75rem 0.75rem 0.5rem;
}

.btn-circle-section {
    height: 3em;
    width: 3em;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    padding-top: 0.5rem;
}

.btn-circle-section:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: white;
}

.btn-circle-section:active {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    background-color: white;
}

.fs-social {
    font-size: 1.8em;
}

.data-section {
    margin-top: 1rem;
}

.data-section-box {
    display: flex;
    justify-content: center;
}

.data-section-box>div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.6rem 0;
}

.data-section-box>div:first-child {
    border-top-left-radius: 5px;
}

.data-section-box>div:last-child {
    border-top-right-radius: 5px;
}

.leaf-box {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    position: relative;
    bottom: 1px;
}

.fs-data {
    font-size: 1.1em;
}

.data-section-info {
    width: 100%;
    background-color: white;
    min-height: 200px;
    padding: 1.5rem 1.5rem 0.25rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.a-socialresp-box {
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.a-socialresp-box:hover, .a-socialresp-box:active {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}