<div class="mb-2 p-2 bg-warning">
    <img class="img-circle-section" src="../../../../assets/img/blanck_persona.png" alt="">
    <div>
        <h2 class="text-center">Franco Darío Montalbán</h2>
        <div class="text-center">Rosario</div>
    </div>
    <div class="box-section">
        <div class="icon-section" *ngIf="!false">
            <button class="btn btn-circle-section" title="Datos personales"><i class="fas fa-id-card fs-circle"></i></button>
            <button class="btn btn-circle-section" title="Redes"><i class="fa-solid fa-share-nodes fs-circle"></i></button>
            <button class="btn btn-circle-section" title="Contacto emergencias"><i class="fas fa-user-friends fs-circle"></i></button>
            <button class="btn btn-circle-section" title="Información importante"><i class="fas fa-info fs-circle"></i></button>
        </div>
        <div class="data-section" style="height: 200px;">
            <div class="data-section-box">
                <div class="col"><i class="fas fa-id-card fs-circle"></i></div>
                <div class="col bg-light"><i class="fas fa-user-friends fs-circle"></i></div>
                <div class="col"><i class="fas fa-info fs-circle"></i></div>
            </div>
            <div class="w-100 bg-light" style="height: 150px;">

            </div>
        </div>
    </div>
</div>
