<div>
    <ul class="nav nav-tabs padding-nav-tab color-nav-tab">
        <li class="nav-item"><a class="nav-link nav-a" 
                                [ngClass]="!activeTipo?'disabled':(navActive == 1?'active':'')"
                                name="1" 
                                (click)="onTabClick($event)">Tipo</a></li>
        <li class="nav-item"><a class="nav-link nav-a" 
                                [ngClass]="!activeOthers?'disabled':(navActive == 2?'active':'')"
                                name="2" (click)="onTabClick($event)">Datos</a></li>
        <li class="nav-item"><a class="nav-link nav-a" 
                                [ngClass]="!activeOthers?'disabled':(navActive == 3?'active':'')"
                                name="3" (click)="onTabClick($event)">Contacto</a></li>
        <li class="nav-item"><a class="nav-link nav-a" 
                                [ngClass]="!activeOthers?'disabled':(navActive == 4?'active':'')"
                                name="4" (click)="onTabClick($event)">Información importante</a></li>
    </ul>
        <div class="padding-content-form" *ngIf="navActive == 1">
            <div class="form-group mb-2">
                <label for="input" class="control-label mb-2">Selecciona un tipo de Tag-ID</label>
                <div>
                    <select id="input" class="form-control" (change)="onChange($event.target)" #selectTipo>
                        <option disabled selected>Elige uno</option>
                        <option value="persona">Persona</option>
                        <option value="mascota">Mascota</option>
                        <option value="vehiculo">Vehículo</option>
                    </select>
                </div>
            </div>
        </div>
    <form>
        <div class="padding-content-form" *ngIf="navActive == 2">
            <div class="row">
                <div class="d-flex flex-column col-md-6">
                    <img src="#" class="img-responsive border" alt="Image" style="width: 100%; height: 300px;">
                    
                    <div class="form-group mt-3">
                        <label for="input" class="control-label mb-2">Cargar una imagen nueva</label>
                        <div>
                            <input type="file" id="input" class="form-control" value="" required="required" title="">
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-6">
                    <app-persona-form [form]="form" *ngIf="tagChoosen == 'persona'"></app-persona-form>
                    <app-mascota-form [form]="form" *ngIf="tagChoosen == 'mascota'"></app-mascota-form>
                    <app-vehiculo-form [form]="form" *ngIf="tagChoosen == 'vehiculo'"></app-vehiculo-form>
                </div>
            </div>
        </div>
        <div class="padding-content-form" *ngIf="navActive == 3">
            <div class="input-group row">
                <div class="col">
                    <label class="form-label" for="nombrecontacto">Nombre completo:</label>
                    <input class="form-control" type="text" id="nombrecontacto">
                </div>
            </div>
            <div class="input-group row">
                <div class="col-6">
                    <label class="form-label" for="codarea">Código de área:</label>
                    <input class="form-control" type="number" id="codarea">
                </div>
                <div class="col-6">
                    <label class="form-label" for="telefono">Teléfono:</label>
                    <input class="form-control" type="number" id="telefono">
                </div>
            </div>
            <div class="input-group row">
                <div class="col">
                    <label class="form-label" for="wspcontacto">Whatsapp contacto:</label>
                    <input class="form-control" type="text" id="wspcontacto">
                </div>
            </div>
        </div>
        <div class="padding-content-form" *ngIf="navActive == 4">
            <div class="form-group">
                <label for="textarea" class="control-label mb-2">Ingresá aquí información importante sobre la persona, mascota o vehículo del Tag.</label>
                <div>
                    <textarea name="" id="textarea" class="form-control" rows="3" required="required" placeholder="Escribe aquí..."></textarea>
                </div>
            </div>  
        </div>
        <div class="d-flex justify-content-end padding-content-form pt-0">
            <button class="btn btn-danger me-3">Cancelar</button>
            <button class="btn btn-primary">Crear</button>
        </div>
    </form>
</div>

