.color-nav-tab {
    background-color: rgb(247, 247, 247);
}

.padding-nav-tab {
    padding: 0.75rem 1rem 0;
}

.padding-content-form {
    padding: 1rem 3rem;
}

.nav-a {
    cursor: pointer;
}

.img-align {
    display: flex;
    justify-content: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {

    

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {



}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {



}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {



}