.color-nav-tab {
    background-color: rgb(247, 247, 247);
}

.padding-nav-tab {
    padding: 0.75rem 1rem 0;
    flex-wrap: nowrap;
}

.padding-content-form {
    padding: 1rem 3rem;
}

.nav-a {
    cursor: pointer;
}

.img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

.img-align {
    display: flex;
    justify-content: center;
}

.img-align>img {
    transition: all 0.25s ease;
    width: 260px;
    height: 260px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.img-align>img:hover {
    transition: all 0.25s ease;
    filter: opacity(.5);
}

.img-validated {
    border: 2px solid white;
    outline: 4px solid #198754;
}

.img-nonvalidated {
    border: 2px solid white;
    outline: 4px solid red;
}

.box-redes {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    height: 40px;
    width: 125px;
    margin: 0.5rem;
    cursor: pointer;
    transition: all 0.25s ease;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.75rem;
    position: relative;
}

.box-redes:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all 0.25s ease;
}

.red-close {
    position: absolute;
    top: -5px;
    right: -6px;
}

.input-style {
    border: none;
    border-bottom: 1px solid rgb(172, 170, 170);
    border-radius: 0;
    background-color: #F6FBFF;
}

.input-style:focus {
    outline: 0;
    box-shadow: none;
    background-color: #f0f8ff;
}

.is-valid {
    background-color: rgb(225, 250, 227)!important;
}

.is-invalid {
    background-color: rgb(250, 225, 225)!important;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {

    .img-box {
        padding-bottom: 0;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {



}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {



}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {



}