
<div>
    <ul class="nav nav-tabs padding-nav-tab color-nav-tab">
        <li class="nav-item"><a class="nav-link nav-a" 
                                [ngClass]="!activeTabs?'disabled':(navActive == 1?'active':'')"
                                name="1" (click)="onTabClick($event)">Datos</a></li>
        <li class="nav-item" *ngIf="this.tipo_form == 'persona'"><a class="nav-link nav-a" 
                                [ngClass]="!activeTabs?'disabled':(navActive == 2?'active':'')"
                                name="2" (click)="onTabClick($event)">Redes</a></li>
        <li class="nav-item"><a class="nav-link nav-a" 
                                [ngClass]="!activeTabs?'disabled':(navActive == 3?'active':'')"
                                name="3" (click)="onTabClick($event)">Contacto</a></li>
        <li class="nav-item"><a class="nav-link nav-a" 
                                [ngClass]="!activeTabs?'disabled':(navActive == 4?'active':'')"
                                name="4" (click)="onTabClick($event)">Información importante</a></li>
    </ul>
    <div class="d-flex justify-content-center p-4" *ngIf="load_form">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">...loading</span>
        </div>
    </div>
    <div *ngIf="show_form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <!-- Solapa de datos -->
            <div class="padding-content-form" *ngIf="navActive == 1">
                <div class="row">
                    <div class="col-md-6 img-box">
                        <label for="imd-id" class="control-label mb-3">Imagen del ID</label>
                        <label for="inputimg" class="control-label img-align" title="Cargar una nueva imagen">
                            <img [src]="foto_formulario"
                                  class="img-rounded" 
                                  alt="Image"
                                  id="imd-id"
                                  [ngClass]="(estado_foto == undefined)?'':((estado_foto == '')?'':((estado_foto == 'ok')?'img-validated':'img-nonvalidated'))"
                            />
                        </label>
                        <input type="file" 
                               id="inputimg" 
                               class="form-control" 
                               style="display: none;"
                               (change)="capturaFile($event)" 
                        />
                        <div style="height: 18px; font-size: 0.9rem; margin-top: 1rem; margin-bottom: 1rem;">
                            <div class="invalid-feedback d-flex justify-content-start mt-0 ms-1" *ngIf="(estado_foto == 'peso')||(estado_foto == 'formato')">
                              <span *ngIf="(estado_foto == 'peso')">La imagen elegida debe tener menos de 10mb.</span>
                              <span *ngIf="(estado_foto == 'formato')">Formato de imagen incompatible. (Formatos aceptados: .jpeg/jpg/png)</span>
                            </div>
                            <div class="valid-feedback d-flex justify-content-start mt-0 ms-1" *ngIf="(estado_foto == 'ok')">
                                <span class="fw-bold">La imagen es correcta!</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <app-persona-form [form]="form" *ngIf="tipo_form == 'persona'"></app-persona-form>
                        <app-mascota-form [form]="form" *ngIf="tipo_form == 'mascota'"></app-mascota-form>
                        <app-vehiculo-form [form]="form" *ngIf="tipo_form == 'vehiculo'"></app-vehiculo-form>
                    </div>
                </div>
            </div>
            <!-- Solapa de redes -->
            <div class="padding-content-form" *ngIf="(navActive == 2)&&(this.tipo_form == 'persona')">
                <h6>Creá acceso a tus redes sociales</h6>
                <div class="rounded box-redes" (click)="open(modal_redes, null, undefined)" >
                    <i class="fa-solid fa-link" ></i>
                    <span class="ms-2" style="font-size: 0.8rem;">Agregar red</span> 
                </div>
                <div class="d-flex flex-wrap">
                    <div *ngFor="let social of sociales; index as i">
                        <div class="rounded box-redes" (click)="open(modal_redes, social, i)" title="{{social.link}}">
                            <i class="fa-brands" [ngClass]="redes[social.id_red].clase" [style.color]="redes[social.id_red].color"></i>
                            <span class="ms-2" style="font-size: 0.8rem;">{{ redes[social.id_red].nombre }}</span>
                            <i class="fa-solid fa-circle-xmark red-close" title="eliminar" (click)="abrir_confirmar($event, i)"></i>
                        </div>
                    </div>
                </div>
                <ng-template #modal_redes let-modal>
                    <app-modal-redes [data_user]="data_user" (cerrado)="cerrar($event)"></app-modal-redes>
                </ng-template>
                <ng-template #modal_confirmacion let-modal>
                    <app-modal-confirmacion [texto]="texto_confirmacion" (cerrado)="cerrar_confirmar($event)"></app-modal-confirmacion>
                </ng-template>
            </div>
            <!-- Solapa de contacto -->
            <div class="padding-content-form" *ngIf="navActive == 3">
                <div class="input-group row m-0">
                    <div class="col-6 ps-0">
                        <label class="form-label" for="nombreresp">
                            Nombre del contacto: <span class="text-danger fw-bold">*</span>
                        </label>
                        <input class="form-control" 
                               type="text" 
                               id="nombreresp" 
                               formControlName="nombreresp"
                               placeholder="Escribí aquí"
                               [ngClass]="form.get('nombreresp')?.valid?'is-valid':(((form.get('nombreresp')?.invalid)&&(form.get('nombreresp')?.dirty||form.get('nombreresp')?.touched))?'is-invalid':'')"
                        />
                        <div style="height: 18px; font-size: 0.9rem; ">
                            <div class="invalid-feedback d-flex justify-content-start mt-0 ms-1" *ngIf="(form.get('nombreresp')?.invalid)&&(form.get('nombreresp')?.dirty||form.get('nombreresp')?.touched)">
                              <span *ngIf="form.get('nombreresp')?.errors?.['required']">El nombre es requerido*.</span>
                              <span *ngIf="form.get('nombreresp')?.errors?.['minlength']">El nombre debe tener más de 4 caracteres.</span>
                              <span *ngIf="form.get('nombreresp')?.errors?.['maxlength']">El nombre debe tener menos de 20 caracteres.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 pe-0">
                        <label class="form-label" for="telefono">
                            Teléfono: <span class="text-danger fw-bold">*</span>
                        </label>
                        <input class="form-control" 
                               type="text" 
                               id="telefono" 
                               formControlName="telresp"
                               placeholder="Cod. área sin '0' y el número de teléfono"
                               [ngClass]="form.get('telresp')?.valid?'is-valid':(((form.get('telresp')?.invalid)&&(form.get('telresp')?.dirty||form.get('telresp')?.touched))?'is-invalid':'')"
                        />
                        <div style="height: 18px; font-size: 0.9rem; ">
                            <div class="invalid-feedback d-flex justify-content-start mt-0 ms-1" *ngIf="(form.get('telresp')?.invalid)&&(form.get('telresp')?.dirty||form.get('telresp')?.touched)">
                              <span *ngIf="form.get('telresp')?.errors?.['required']">El número de teléfono es requerido.</span>
                              <span *ngIf="form.get('telresp')?.errors?.['minlength']">El número de teléfono debe tener más de 7 caracteres.</span>
                              <span *ngIf="form.get('telresp')?.errors?.['maxlength']">El número de teléfono debe tener menos de 13 caracteres.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <h6 class="mb-0 mt-1">Opcionales:</h6>
                <hr class="mb-2 mt-1"> 
                <p class="text-muted ms-1 mb-2" style="height: 18px; font-size: 0.9rem; ">Generá un vínculo directo al whatsapp del responsable</p>
                <div class="input-group row m-0">
                    <div class="col p-0">
                        <label class="form-label" for="wspresp">Whatsapp:</label>
                        <input class="form-control" 
                               type="text" 
                               id="wspresp"
                               formControlName="wspresp"
                               placeholder="Cod. área sin '0' y el número de whatsapp"
                               [ngClass]="(form.get('wspresp')?.value.length == 0)?'':((form.get('wspresp')?.invalid)&&(form.get('wspresp')?.dirty||form.get('wspresp')?.touched)?'is-invalid':('is-valid'))"
                        />
                        <div style="height: 18px; font-size: 0.9rem; ">
                            <div class="invalid-feedback d-flex justify-content-start mt-0 ms-1" *ngIf="(form.get('wspresp')?.invalid)&&(form.get('wspresp')?.dirty||form.get('wspresp')?.touched)">
                              <span *ngIf="form.get('wspresp')?.errors?.['minlength']">El teléfono debe tener más de 7 caracteres.</span>
                              <span *ngIf="form.get('wspresp')?.errors?.['maxlength']">El teléfono debe tener menos de 13 caracteres.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Solapa de observaciones -->
            <div class="padding-content-form" *ngIf="navActive == 4">
                <div class="form-group">
                    <label for="textarea" class="control-label mb-2">Observaciones</label>
                    <div>
                        <textarea id="textarea" 
                                  class="form-control" 
                                  rows="6" 
                                  placeholder="Ingresá aquí detalles o información sobre la persona, mascota o vehículo que se necesite conocer." 
                                  formControlName="observaciones"
                                  [ngClass]="(form.get('observaciones')?.value.length == 0)?'':((form.get('observaciones')?.invalid)&&(form.get('observaciones')?.dirty||form.get('observaciones')?.touched)?'is-invalid':('is-valid'))"
                        ></textarea>
                        <div style="height: 18px; font-size: 0.9rem; ">
                            <div class="invalid-feedback d-flex justify-content-start mt-0 ms-1" *ngIf="(form.get('observaciones')?.invalid)&&(form.get('observaciones')?.dirty||form.get('observaciones')?.touched)">
                              <span *ngIf="form.get('observaciones')?.errors?.['minlength']">La observación debe tener más de 5 caracteres.</span>
                              <span *ngIf="form.get('observaciones')?.errors?.['maxlength']">La observación debe tener menos de 255 caracteres.</span>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="d-flex justify-content-end padding-content-form pt-2 border-top">
                <button class="btn btn-danger me-3" type="reset" (click)="cancelForm()">Cancelar</button>
                <button class="btn btn-primary" type="submit" [disabled]="(form.invalid) || (estado_foto == 'peso') || (estado_foto == 'formato')">
                    <span *ngIf="true">Crear</span>
                    <span *ngIf="!true">Actualizar</span>
                </button>
            </div>
        </form>
    </div>
        
    <div class="p-3" *ngIf="error_form">
        <div class="alert alert-danger">
            <p class="d-block text-center mb-0">Ha ocurrido un error durante la carga. Por favor actualice la página.</p>
        </div>
    </div>
</div>

