<form [formGroup]="form" class="p-2" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="InputEmail" class="form-label mb-0">Ingresá tu correo electrónico</label>
      <div id="emailHelp" class="form-text mb-3 " style="font-size: 0.8rem;">Verificaremos que tu correo electrónico pertenezca a una cuenta. Luego deberás elegir "Enviar código por correo" para recibir el código en tu correo electrónico o "Tengo un código" para continuar con el proceso.</div>
      <input type="email" 
              class="form-control input-style"
              id="InputEmail" 
              aria-describedby="emailHelp"
              formControlName="email"
              (focus)="actualizarSmt()"
              [ngClass]="form.get('email')?.valid?'is-valid':(((form.get('email')?.invalid)&&(form.get('email')?.dirty||form.get('email')?.touched))?'is-invalid':'')"
      />
      <div style="min-height: 15px; font-size: 0.9rem;">
        <div class="invalid-feedback d-flex justify-content-start mt-0" *ngIf="(form.get('email')?.invalid)&&(form.get('email')?.dirty||form.get('email')?.touched)">
          <span *ngIf="form.get('email')?.errors?.['required']">Este campo es requerido.</span>
          <span *ngIf="form.get('email')?.errors?.['incorrectoName'] && !form.get('email')?.errors?.['required']">El formato es incorrecto.</span>
        </div>
      </div>
    </div>

    <div>
        <div *ngIf="!correo_verificado">
            <button type="submit" 
                class="btn btn-primary form-control"
                [disabled]="form.invalid || estadoSmt != 'envio'"
            >
                <span *ngIf="estadoSmt == 'envio'">Enviar</span>
                <div *ngIf="estadoSmt == 'load'" class="spinner-border box-load" role="status">
                  <span class="visually-hidden">...loading</span>
                </div>
                <span *ngIf="estadoSmt == 'ok'">Ok!</span>
                <span *ngIf="estadoSmt == 'error'">Error!</span>
            </button>
        </div>
        <div *ngIf="correo_verificado" class="d-flex justify-content-between">
            <button type="button" class="btn btn-enviar" style="width: 45%;" (click)="enviar_codigo()" [disabled]="!correo_verificado">
                Enviar código por correo
            </button>
            <button type="button" class="btn btn-codigo" style="width: 45%;" (click)="ingresar_codigo()">
                Tengo un código
            </button>
        </div>
    </div>

    <div class="alert mt-3 mb-1" [ngClass]="classLogin" [hidden]="!displayLogin">
      <p class="mb-0 d-block text-center">{{ messageLogin }}</p>
    </div>
</form>
<div class="d-flex justify-content-end">
  <a type="button" class="d-block mt-2 text-end" style="font-size: 0.8rem;" (click)="irLogin()" title="Ya tengo una cuenta!">Ya tenés una cuenta? Ingresá!</a>
</div>
