.input-style {
    border: none;
    border-bottom: 1px solid rgb(172, 170, 170);
    border-radius: 0;
    background-color: #F6FBFF;
}

.input-style:focus {
    outline: 0;
    box-shadow: none;
    background-color: #f0f8ff;
}

.is-valid {
    background-color: rgb(225, 250, 227)!important;
}

.is-invalid {
    background-color: rgb(250, 225, 225)!important;
}

.btn-enviar {
    background-color: rgb(255, 234, 167)!important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.btn-codigo {
    background-color: rgb(167, 255, 173)!important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.box-load {
    height:20px; width:20px
}