.main-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.header-content {
    display: block;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
    .header-content > p {
        font-weight: 500;
        text-align: center;
        margin-bottom: 0;
        font-size: 18px;
    }

.body-content {
    background-color: #fff;
    padding: 10px 20px 20px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.input-style {
    border: none;
    border-bottom: 1px solid rgb(172, 170, 170);
    border-radius: 0;
    background-color: #F6FBFF;
}

.input-style:focus {
    outline: 0;
    box-shadow: none;
    background-color: #f0f8ff;
}

.input-style-pass {
    border: none;
    border-bottom: 1px solid rgb(172, 170, 170);
    border-radius: 0;
    background-color: #F6FBFF;
    padding-right: calc(3em + 0.75rem);
}

.password-view {
    position: absolute;
    right: 12%;
    top: 17%;
}

.password-view>i {
    cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {

    .header-content {
        width: 100%;
    }
        .header-content > p {
            margin-bottom: 0;
            font-size: 20px;
        }
    
    .body-content {
        width: 100%;
        padding: 10px 20px 20px;
    }

}