<nav class="configuration-nav">
    <h2 class="title-box">Configuración</h2>
</nav>
<!-- Solapa Modificar contraseña -->
<ul class="nav nav-tabs padding-nav-tab color-nav-tab">
    <li class="nav-item"><a class="nav-link active"><i class="fa-solid fa-unlock-keyhole me-1"></i> Modificar contraseña</a></li>
</ul>
    <!-- modificar contraseña -->
    <section style="background-color: #fff;">
        <div class="col-md-5 content-section">
            <app-edit-pass-configuration-profile></app-edit-pass-configuration-profile>
        </div>
    </section>
<!-- Solapa Modificar correo de usuario -->
<ul class="nav nav-tabs padding-nav-tab color-nav-tab-adic">
    <li class="nav-item"><a class="nav-link active"><i class="fa-solid fa-envelope me-1"></i> Modificar correo de usuario</a></li>
</ul>
    <!-- Modificar email de usuario -->
    <section style="background-color: #fff;">
        <div class="col-md-5 content-section">
            <app-edit-email-configuration-profile></app-edit-email-configuration-profile>
        </div>
    </section>
<!-- Solapa Modificar nombre de usuario -->
<ul class="nav nav-tabs padding-nav-tab color-nav-tab-adic">
    <li class="nav-item"><a class="nav-link active"><i class="fa-solid fa-id-badge me-1"></i> Modificar nombre de usuario</a></li>
</ul>
    <!-- Modificar nombre de usuario -->
    <section style="background-color: #fff;">
        <div class="col-md-5 content-section">
            <app-edit-name-configuration-profile></app-edit-name-configuration-profile>
        </div>
    </section>