<!-- Modificación de password -->
<section class="col-md-6 content-section">
    <h5 class="border-bottom"><i class="fa-solid fa-unlock-keyhole"></i> Modificar contraseña</h5>
    <app-edit-pass-configuration-profile></app-edit-pass-configuration-profile>
</section>
<hr class="mb-1">
<!-- Modificación de email -->
<section class="col-md-6 content-section">
    <h5 class="border-bottom"><i class="fa-solid fa-envelope"></i> Modificar correo de usuario</h5>
    <app-edit-email-configuration-profile></app-edit-email-configuration-profile>
</section>
<hr class="mb-1">
<!-- Modificación de nombre de usuario -->
<section class="col-md-6 content-section">
    <h5 class="border-bottom"><i class="fa-solid fa-id-badge"></i> Modificar nombre de usuario</h5>
    <app-edit-name-configuration-profile></app-edit-name-configuration-profile>
</section>