<!-- Modificación de password -->
<section class="col-md-6 p-3">
    <h5 class="border-bottom">Actualizar contraseña</h5>
    <app-edit-pass-configuration-profile></app-edit-pass-configuration-profile>
</section>
<hr class="mb-1">
<!-- Modificación de email -->
<section class="col-md-6 p-3">
    <h5 class="border-bottom">Actualizar correo de usuario</h5>
    <app-edit-email-configuration-profile></app-edit-email-configuration-profile>
</section>
<hr class="mb-1">
<!-- Modificación de nombre de usuario -->
<section class="col-md-6 p-3">
    <h5 class="border-bottom">Actualizar nombre de usuario</h5>
    <app-edit-name-configuration-profile></app-edit-name-configuration-profile>
</section>