<!-- Personal -->
<div>
    <!-- Solapa base Personal -->
    <ul class="nav nav-tabs padding-nav-tab color-nav-tab">
        <li class="nav-item"><a class="nav-link active">Tag-ID personal</a></li>
    </ul>
    <div class="col-md-6 ms-auto me-auto">
        <!-- Tag personal -->
        <div class="rounded accordion-box-principal" *ngIf="tag_personal_existe">
            <ngb-accordion #acc="ngbAccordion">
                <ng-container *ngFor="let persona of personas">
                    <ngb-panel *ngIf="persona.nivel == 'personal'">
                        <ng-template ngbPanelTitle>
                            <span class="me-5 position-relative">
                                <i class="fa-solid fa-qrcode fa-2x" 
                                   [style.color]="(persona.estado == 'link')?link:((persona.estado == 'alert')?alert:nolink)"
                                ></i>
                            </span>
                            <span class="me-5">Tipo: <span class="d-block"><b>Persona</b></span></span>
                            <span class="text-start">Nombre: <span class="d-block"><b>{{ persona.nombre + ' ' + persona.apellido }}</b></span></span>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div>
                                <app-vista-tag [datos]="persona" [tipo]="'persona'"></app-vista-tag>
                            </div>
                            <div class="d-flex">
                                <button class="btn w-25 btn-box-util"
                                        title="Editar tag"
                                        triggers="mouseenter:mouseleave"
                                        popoverTitle="Editar"
                                        ngbPopover="Editá la información de este tag."
                                        (click)="editTag('personas', 'personal', persona.id )">
                                    <i class="fa-solid fa-pen-to-square" style="color: rgb(88, 88, 248);"></i>
                                    Editar
                                </button>
                                <button class="btn w-25 btn-box-util"
                                        title="Alerta tag"
                                        triggers="mouseenter:mouseleave"
                                        popoverTitle="Alerta"
                                        ngbPopover="Cambiá el estado del tag para que te ayuden a localizar al objeto o individuo del tag."
                                        [disabled]="persona.estado == 'nolink'"
                                        (click)="alertarTag('personas', persona.id)">
                                    <i class="fa-solid fa-triangle-exclamation" style="color: rgb(231, 76, 60);"></i>
                                    Alerta
                                </button>
                                <button class="btn w-25 btn-box-util"
                                        title="Eliminar tag"
                                        triggers="mouseenter:mouseleave"
                                        popoverTitle="Eliminar"
                                        ngbPopover="Eliminá este tag. Recordá desvincularlo del QR."
                                        [disabled]="persona.estado != 'nolink'"
                                        (click)="eliminarTag('personas', 'personal', (persona.nombre + ' ' + persona.apellido), persona.id)">
                                        <i class="fa-solid fa-trash" style="color: rgb(105, 103, 101);"></i>
                                    Eliminar
                                </button>
                                <button class="btn w-25 btn-box-util"
                                        title="Vincular tag"
                                        triggers="mouseenter:mouseleave"
                                        popoverTitle="Vincular"
                                        ngbPopover="Vinculá este tag con un QR para que puedan acceder a él."
                                        (click)="vincularTag('personas', persona.id)">
                                    <i class="fa-solid fa-qrcode" style="color: rgb(40, 180, 99);"></i>
                                    Vincular
                                </button>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ng-container>  
            </ngb-accordion>
        </div>
        <!-- Alerta en caso de error de carga -->
        <div class="p-3 pb-2" *ngIf="error_carga_personal && !load_tag_personal">
            <div class="alert alert-danger mb-0">
                <p class="d-block text-center mb-0">Ha ocurrido un error durante la carga. Por favor actualice la página.</p>
            </div>
        </div>
        <!-- Spinner load personal -->
        <div class="d-flex justify-content-center p-4" *ngIf="load_tag_personal">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">...loading</span>
            </div>
        </div>
        <!-- Alerta que aparece si no hay tag -->
        <div class="p-3 pb-2" *ngIf="!tag_personal_existe && !load_tag_personal && !error_carga_personal">
            <div class="alert alert-info mb-0">
                <p class="d-block text-center mb-0">Aún no creaste tu Tag personal. Empezá ahora!</p>
            </div>
        </div>
        <!-- Botón que aparece si no hay tag -->
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary btn-crearTag" *ngIf="!tag_personal_existe && !load_tag_personal" (click)="editTag('personas', 'personal', 0)" [disabled]="tag_personal_existe || load_tag_personal">Crear mi Tag-ID Personal</button>
        </div>
    </div>
</div>

<!-- Adicional - Personas -->
<div>
    <!-- Solapa base Persona -->
    <ul class="nav nav-tabs padding-nav-tab color-nav-tab-adic">
        <li class="nav-item"><a class="nav-link active">Tag-ID adicional - Personas</a></li>
    </ul>
    <div class="col-md-6 ms-auto me-auto">
        <!-- Tag adicional persona --> 
        <div class="rounded accordion-box-secondary" *ngIf="tag_adic_persona_existe">
            <ngb-accordion #acc="ngbAccordion">
                <ng-container *ngFor="let persona of personas">
                    <ngb-panel *ngIf="persona.nivel == 'adicional'">
                        <ng-template ngbPanelTitle>
                            <span class="me-5 position-relative">
                                <i class="fa-solid fa-qrcode fa-2x" 
                                   [style.color]="(persona.estado == 'link')?link:((persona.estado == 'alert')?alert:nolink)"
                                ></i>
                            </span>
                            <span class="me-5">Tipo: <span class="d-block"><b>Persona</b></span></span>
                            <span class="text-start">Nombre: <span class="d-block"><b>{{ persona.nombre + ' ' + persona.apellido }}</b></span></span>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div>
                                <app-vista-tag [datos]="persona" [tipo]="'persona'"></app-vista-tag>
                            </div>
                            <div class="d-flex">
                                <button class="btn w-25 btn-box-util"
                                        title="Editar tag"
                                        triggers="mouseenter:mouseleave"
                                        popoverTitle="Editar"
                                        ngbPopover="Editá la información de este tag."
                                        (click)="editTag('personas', 'adicional', persona.id )">
                                    <i class="fa-solid fa-pen-to-square" style="color: rgb(88, 88, 248);"></i>
                                    Editar
                                </button>
                                <button class="btn w-25 btn-box-util"
                                        title="Alerta tag"
                                        triggers="mouseenter:mouseleave"
                                        popoverTitle="Alerta"
                                        ngbPopover="Cambiá el estado del tag para que te ayuden a localizar al objeto o individuo del tag."
                                        [disabled]="persona.estado == 'nolink'"
                                        (click)="alertarTag('personas', persona.id)">
                                    <i class="fa-solid fa-triangle-exclamation" style="color: rgb(231, 76, 60);"></i>
                                    Alerta
                                </button>
                                <button class="btn w-25 btn-box-util"
                                        title="Eliminar tag"
                                        triggers="mouseenter:mouseleave"
                                        popoverTitle="Eliminar"
                                        ngbPopover="Eliminá este tag. Recordá desvincularlo del QR."
                                        [disabled]="persona.estado != 'nolink'"
                                        (click)="eliminarTag('personas', 'persona', (persona.nombre + ' ' + persona.apellido), persona.id)">
                                    <i class="fa-solid fa-trash" style="color: rgb(105, 103, 101);"></i>
                                    Eliminar
                                </button>
                                <button class="btn w-25 btn-box-util"
                                        title="Vincular tag"
                                        triggers="mouseenter:mouseleave"
                                        popoverTitle="Vincular"
                                        ngbPopover="Vinculá este tag con un QR para que puedan acceder a él."
                                        (click)="vincularTag('personas', persona.id)">
                                    <i class="fa-solid fa-qrcode" style="color: rgb(40, 180, 99);"></i>
                                    Vincular
                                </button>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ng-container>
            </ngb-accordion>
        </div>
        <!-- Alerta en caso de error de carga -->
        <div class="p-3 pb-2" *ngIf="error_carga_persona && !load_tag_persona">
            <div class="alert alert-danger mb-0">
                <p class="d-block text-center mb-0">Ha ocurrido un error durante la carga. Por favor actualice la página.</p>
            </div>
        </div>
        <!-- Spinner load persona -->
        <div class="d-flex justify-content-center p-4" *ngIf="load_tag_persona">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">...loading</span>
            </div>
        </div>
        <!-- Alerta que aparece si no hay tag -->
        <div class="p-3 pb-2" *ngIf="!tag_adic_persona_existe && !load_tag_persona && !error_carga_persona">
            <div class="alert alert-info mb-0">
                <p class="d-block text-center mb-0">No hay Tags para personas adicionales. Creá uno nuevo!</p>
            </div>
        </div>
        <!-- Botón que aparece si no hay tag -->
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary btn-crearTag" (click)="editTag('personas', 'adicional', 0)">Crear Tag-ID Persona</button>
        </div>
    </div>
</div>

<!-- Adicional - Mascotas -->
<div>
    <!-- Solapa base Mascota -->
    <ul class="nav nav-tabs padding-nav-tab color-nav-tab-adic">
        <li class="nav-item"><a class="nav-link active">Tag-ID adicional - Mascotas</a></li>
    </ul>
    <div class="col-md-6 ms-auto me-auto">
        <!-- Tag adicional mascota --> 
        <div class="rounded accordion-box-secondary" *ngIf="tag_adic_mascota_existe">
            <ngb-accordion #acc="ngbAccordion">
                <ng-container *ngFor="let mascota of mascotas">
                    <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <span class="me-5 position-relative">
                                <i class="fa-solid fa-qrcode fa-2x" 
                                   [style.color]="(mascota.estado == 'link')?link:((mascota.estado == 'alert')?alert:nolink)"
                                ></i>
                            </span>
                            <span class="me-5">Tipo: <span class="d-block"><b>Mascota</b></span></span>
                            <span class="text-start">Nombre: <span class="d-block"><b>{{ mascota.especie }}</b> - <b>{{ mascota.nombre }}</b></span></span>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div>
                                <app-vista-tag [datos]="mascota" [tipo]="'mascota'"></app-vista-tag>
                            </div>
                            <div class="d-flex">
                                <button class="btn w-25 btn-box-util"
                                        title="Editar tag"
                                        triggers="mouseenter:mouseleave"
                                        popoverTitle="Editar"
                                        ngbPopover="Editá la información de este tag."
                                        (click)="editTag('mascotas', 'adicional', mascota.id )">
                                    <i class="fa-solid fa-pen-to-square" style="color: rgb(88, 88, 248);"></i>
                                    Editar
                                </button>
                                <button class="btn w-25 btn-box-util"
                                        title="Alerta tag"
                                        triggers="mouseenter:mouseleave"
                                        popoverTitle="Alerta"
                                        ngbPopover="Cambiá el estado del tag para que te ayuden a localizar al objeto o individuo del tag."
                                        [disabled]="mascota.estado == 'nolink'"
                                        (click)="alertarTag('mascotas', mascota.id)">
                                    <i class="fa-solid fa-triangle-exclamation" style="color: rgb(231, 76, 60);"></i>
                                    Alerta
                                </button>
                                <button class="btn w-25 btn-box-util"
                                        title="Eliminar tag"
                                        triggers="mouseenter:mouseleave"
                                        popoverTitle="Eliminar"
                                        ngbPopover="Eliminá este tag. Recordá desvincularlo del QR."
                                        [disabled]="mascota.estado != 'nolink'"
                                        (click)="eliminarTag('mascotas', 'mascota', (mascota.especie + '-' + mascota.nombre), mascota.id)">
                                    <i class="fa-solid fa-trash" style="color: rgb(105, 103, 101);"></i>
                                    Eliminar
                                </button>
                                <button class="btn w-25 btn-box-util"
                                        title="Vincular tag"
                                        triggers="mouseenter:mouseleave"
                                        popoverTitle="Vincular"
                                        ngbPopover="Vinculá este tag con un QR para que puedan acceder a él."
                                        (click)="vincularTag('mascotas', mascota.id)">
                                    <i class="fa-solid fa-qrcode" style="color: rgb(40, 180, 99);"></i>
                                    Vincular
                                </button>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ng-container>
            </ngb-accordion>
        </div>
        <!-- Alerta en caso de error de carga -->
        <div class="p-3 pb-2" *ngIf="error_carga_mascota && !load_tag_mascota">
            <div class="alert alert-danger mb-0">
                <p class="d-block text-center mb-0">Ha ocurrido un error durante la carga. Por favor actualice la página.</p>
            </div>
        </div>
        <!-- Spinner load mascota -->
        <div class="d-flex justify-content-center p-4" *ngIf="load_tag_mascota">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">...loading</span>
            </div>
        </div>
        <!-- Alerta que aparece si no hay tag -->
        <div class="p-3 pb-2" *ngIf="!tag_adic_mascota_existe && !load_tag_mascota && !error_carga_mascota">
            <div class="alert alert-info mb-0">
                <p class="d-block text-center mb-0">No hay Tags para mascotas. Creá uno nuevo!</p>
            </div>
        </div>
        <!-- Botón que aparece si no hay tag -->
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary btn-crearTag" (click)="editTag('mascotas', 'adicional', 0)">Crear Tag-ID Mascota</button>
        </div>
    </div>
</div>

<!-- Adicional - Vehículos -->
<div>
    <!-- Solapa base Vehículo -->
    <ul class="nav nav-tabs padding-nav-tab color-nav-tab-adic">
        <li class="nav-item"><a class="nav-link active">Tag-ID adicional - Vehículos</a></li>
    </ul>
    <div class="col-md-6 ms-auto me-auto">
        <!-- Tag adicional vehículo --> 
        <div class="rounded accordion-box-secondary" *ngIf="tag_adic_vehiculo_existe">
            <ngb-accordion #acc="ngbAccordion">
                <ng-container *ngFor="let vehiculo of vehiculos">
                    <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <span class="me-5 position-relative">
                                <i class="fa-solid fa-qrcode fa-2x" 
                                   [style.color]="(vehiculo.estado == 'link')?link:((vehiculo.estado == 'alert')?alert:nolink)"
                                ></i>
                            </span>
                            <span class="me-5">Tipo: <span class="d-block"><b>Vehículo</b></span></span>
                            <span class="text-start">Nombre: <span class="d-block"><b>{{ vehiculo.marca }}</b> - <b>{{ vehiculo.modelo }}</b> - <b>{{ vehiculo.color }}</b></span></span>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div>
                                <app-vista-tag [datos]="vehiculo" [tipo]="'vehiculo'"></app-vista-tag>
                            </div>
                            <div class="d-flex">
                                <button class="btn w-25 btn-box-util"
                                        title="Editar tag"
                                        triggers="mouseenter:mouseleave"
                                        popoverTitle="Editar"
                                        ngbPopover="Editá la información de este tag."
                                        (click)="editTag('vehiculos', 'adicional', vehiculo.id )">
                                    <i class="fa-solid fa-pen-to-square" style="color: rgb(88, 88, 248);"></i>
                                    Editar
                                </button>
                                <button class="btn w-25 btn-box-util"
                                        title="Alerta tag"
                                        triggers="mouseenter:mouseleave"
                                        popoverTitle="Alerta"
                                        ngbPopover="Cambiá el estado del tag para que te ayuden a localizar al objeto o individuo del tag."
                                        [disabled]="vehiculo.estado == 'nolink'"
                                        (click)="alertarTag('vehiculos', vehiculo.id)">
                                    <i class="fa-solid fa-triangle-exclamation" style="color: rgb(231, 76, 60);"></i>
                                    Alerta
                                </button>
                                <button class="btn w-25 btn-box-util"
                                        title="Eliminar tag"
                                        triggers="mouseenter:mouseleave"
                                        popoverTitle="Eliminar"
                                        ngbPopover="Eliminá este tag. Recordá desvincularlo del QR."
                                        [disabled]="vehiculo.estado != 'nolink'"
                                        (click)="eliminarTag('vehiculos', 'vehiculo', (vehiculo.marca + '-' + vehiculo.modelo), vehiculo.id)">
                                    <i class="fa-solid fa-trash" style="color: rgb(105, 103, 101);"></i>
                                    Eliminar
                                </button>
                                <button class="btn w-25 btn-box-util"
                                        title="Vincular tag"
                                        triggers="mouseenter:mouseleave"
                                        popoverTitle="Vincular"
                                        ngbPopover="Vinculá este tag con un QR para que puedan acceder a él."
                                        (click)="vincularTag('vehiculos', vehiculo.id)">
                                    <i class="fa-solid fa-qrcode" style="color: rgb(40, 180, 99);"></i>
                                    Vincular
                                </button>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ng-container>
            </ngb-accordion>
        </div>
        <!-- Alerta en caso de error de carga -->
        <div class="p-3 pb-2" *ngIf="error_carga_vehiculo && !load_tag_vehiculo">
            <div class="alert alert-danger mb-0">
                <p class="d-block text-center mb-0">Ha ocurrido un error durante la carga. Por favor actualice la página.</p>
            </div>
        </div>
        <!-- Spinner load vehiculo -->
        <div class="d-flex justify-content-center p-4" *ngIf="load_tag_vehiculo">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">...loading</span>
            </div>
        </div>
        <!-- Alerta que aparece si no hay tag -->
        <div class="p-3 pb-2" *ngIf="!tag_adic_vehiculo_existe && !load_tag_vehiculo && !error_carga_vehiculo">
            <div class="alert alert-info mb-0">
                <p class="d-block text-center mb-0">No hay Tags para vehículos. Creá uno nuevo!</p>
            </div>
        </div>
        <!-- Botón que aparece si no hay tag -->
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary btn-crearTag" (click)="editTag('vehiculos', 'adicional', 0)">Crear Tag-ID Vehículo</button>
        </div>
    </div>
</div>

<ng-template #modal_confirmacion let-modal>
    <app-modal-confirmacion [texto]="texto_confirmacion" (cerrado)="cerrar_confirmar($event)"></app-modal-confirmacion>
</ng-template>