.bg-page {
    background-color: white;
}

.box-accordion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 2rem;
}

.accordion-box-tag {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: calc(570px + 2rem);
}

.btn-crearTag {
    cursor: pointer;
}

.color-nav-tab {
    background-color: rgb(247, 247, 247);
}

.padding-nav-tab {
    padding: 0.75rem 1rem 0;
}

.color-nav-tab-adic {
    background: linear-gradient(to bottom, white, rgb(247, 247, 247));
}

.btn-box-util {
    border-radius: 0;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.btn-box-util:hover {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {

    

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 878px) {

    .accordion-box-tag {
        width: 100%;
    }

}

/* Large devices (laptops/desktops, 878px and up) */
@media only screen and (min-width: 878px) {



}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {



}