<div>
    <ul class="nav nav-tabs padding-nav-tab color-nav-tab">
        <li class="nav-item"><a class="nav-link active">Tag-ID personal</a></li>
    </ul>
    <button class="btn btn-primary btn-crearTag" *ngIf="!tagPersonalExist" (click)="irEditTag('personal', '0')">Crear Tag-ID Personal</button>
    <div class="rounded accordion-box-principal" *ngIf="tagPersonalExist">
        <ngb-accordion #acc="ngbAccordion">
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    <span class="me-5">Tipo: <span class="d-block"><b>Persona</b></span></span>
                    <span class="text-start">Nombre: <span class="d-block"><b>Diego Fernando Molinari</b></span></span>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-outline-success" (click)="irEditTag('personal', '1')">Crear/Editar</button>
                        <button class="btn btn-outline-warning">Ver Tag</button>
                        <button class="btn btn-outline-danger">Editar Vinculación</button>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>

<div>
    <ul class="nav nav-tabs padding-nav-tab color-nav-tab-adic">
        <li class="nav-item"><a class="nav-link active">Tag-ID adicionales</a></li>
    </ul>
    <button class="btn btn-primary btn-crearTag" (click)="irEditTag('adicional', '0')">Crear Tag-ID Adicional</button>
    <div class="rounded accordion-box-secondary" *ngIf="tagAdicionalExist">
        <ngb-accordion #acc="ngbAccordion">
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    <span class="me-5">Tipo: <span class="d-block"><b>Mascota</b></span></span>
                    <span class="text-start">Nombre: <span class="d-block"><b>Gato</b> - <b>Pelusa</b></span></span>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-outline-success" (click)="irEditTag('adicional', '3')">Editar</button>
                        <button class="btn btn-outline-warning">Ver Tag</button>
                        <button class="btn btn-outline-danger">Editar Vinculación</button>
                    </div>
                </ng-template>
            </ngb-panel>
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    <span class="me-5">Tipo: <span class="d-block"><b>Persona</b></span></span>
                    <span class="text-start">Nombre: <span class="d-block"><b>Hijo</b> - <b>Sebastián Dario Molinari</b></span></span>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-outline-success">Editar</button>
                        <button class="btn btn-outline-warning">Ver Tag</button>
                        <button class="btn btn-outline-danger">Editar Vinculación</button>
                    </div>
                </ng-template>
            </ngb-panel>
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    <span class="me-5">Tipo: <span class="d-block"><b>Vehículo</b></span></span>
                    <span class="text-start">Tipo: <span class="d-block"><b>Bicicleta</b> - <b>Venzo</b></span></span>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-outline-success">Editar</button>
                        <button class="btn btn-outline-warning">Ver Tag</button>
                        <button class="btn btn-outline-danger">Editar Vinculación</button>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
