.main-content {
    display: flex;
    height: 100%;
}

.profile-section-name {
    border-right: 1px solid rgba(223, 223, 223, 0.882);
    width: 250px;
}

.profile-section-content {
    width: calc(100% - 250px);
    height: 100%;
    overflow-y: scroll;
}

.fs-09r {
    font-size: 0.9rem;
}

.display-menu-fijo {
    display: block;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {

    .display-menu-fijo {
        display: none;
    }
    
    .profile-section-name {
        width: 0;
    }
    
    .profile-section-content {
        width: 100%;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {



}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {



}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {



}