<div class="box-title" (click)="abrir()">
    <img [src]="dato.icono" alt="">
    <h6 class="text-center">{{ dato.titulo }}</h6>
</div>
<div class="box-data border" *ngIf="info">
    <div class="box-header">
        <i class="fa-solid fa-xmark fa-2x" title="cerrar" (click)="cerrar()"></i>
        <h4 class="text-center mt-1 mb-0">{{ dato.titulo }}</h4>
        <hr>
    </div>
    <div class="box-content">
        <ng-container *ngFor="let box of dato.contenido">
            <app-data-box-section [contenido]="box"></app-data-box-section>
        </ng-container>
    </div>
</div>
