.box-title {
    height: 150px;
    width: 150px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 0.2s ease;
    opacity: 0.8;
}

.box-title:hover, .box-title:active {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    transition: all 0.2s ease;
    opacity: 1;
    background-color: rgb(140, 185, 253);
}

.box-title h6 {
    font-size: 12px;
    margin-bottom: 0;
}

.box-data {
    position: absolute;
    top: 0;
    left: 0;
    padding: 150px 30px 30px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    z-index: 10;
}

.box-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 12px;
}

.box-header i {
    margin: 0 0 0 95%;
    cursor: pointer;
}

.box-content {
    height: 100%;
    overflow-y: auto;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: #fff;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #fff;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(229, 240, 255); 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
}