<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="mb-1">Bienvenido a</h3>
                    <img class="img-logo" src="../../../assets/img/home/logo-1.png">
                    <p>Te presento un nuevo modo de conectarnos.<br><strong>Qrlink</strong> es una innovadora forma de presentarte digitalmente mediante un código QR físico y obtener tu información en segundos.</p> 
                    <a class="main-button-slider" (click)="scrollToElement(about)">Qué es QRLINK?</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section" id="about" #about>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="center-heading">
                    <h2>Qué es QRlink <em>?</em></h2>
                    <p>Es un sistema de identificación personal para vos, los tuyos y tu cosas, donde por medio de un código QR físico será posible acceder a su información.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <img src="../../../assets/img/home/features-icon-1.png" alt="">
                        <h4>Creá tus tags</h4>
                        <p>Los tags son perfiles digitales que podés crear con tu información. Hacé uno para vos, tus mascotas, tus vehículos, hijos y más. </p>
                        <a class="main-button" (click)="scrollToElement(promotion1)">
                            Cómo funciona?
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <img src="../../../assets/img/home/features-icon-2.png" alt="">
                        <h4>Vinculalos con un código QR físico</h4>
                        <p>Podés tener acceso a cada perfíl digital por medio de los códigos QR físicos.</p>
                        <a class="main-button" (click)="scrollToElement(promotion2)">
                            Para qué sirve?
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <img src="../../../assets/img/home/features-icon-3.png" alt="">
                        <h4>Emití alertas sobre tags perdidos</h4>
                        <p>Estas alertas son accesibles para todos los que accedan al sitio y puedan ayudarte.</p>
                        <a class="main-button" (click)="scrollToElement(promotion3)">
                            Cómo lo uso?
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section border-bottom" id="promotion1" #promotion1>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="center-heading">
                    <h2>Cómo funciona <em>?</em></h2>
                    <p>Solo necesitás crear un perfíl digital y vincularlo con un tag-QR(Código QR físico). Toda tu información en un solo lugar y accesible de una forma fácil y cómoda.</p>
                </div>
            </div>
            <div class="right-text offset-lg-1 col-lg-6 col-md-12 col-sm-12 order-lg-2">
                <ul>
                    <li>
                        <img src="../../../assets/img/home/about-icon-1.png" alt="">
                        <div class="text">
                            <h4>Digitalizá tu información y accedé a ella desde un solo lugar</h4>
                            <p>
                                Ahora podés tener toda tu información en un solo lugar y permitir a otros que puedan contactarte.
                            </p>
                        </div>
                    </li>
                    <li>
                        <img src="../../../assets/img/home/about-icon-2.png" alt="">
                        <div class="text">
                            <h4>Etiquetá digitalmente lo que te pertenece</h4>
                            <p>
                                Creá tags de tus mascotas, vehículos, etc, así en caso de algún problema, puedan contactarse con vos.
                            </p>
                        </div>
                    </li>
                    <li>
                        <img src="../../../assets/img/home/about-icon-3.png" alt="">
                        <div class="text">
                            <h4>Accedé utilizando tags-QR creativos y actualizables</h4>
                            <p>
                                Conocé los <a class="link-anchor" (click)="scrollToElement(testimonials)">Tags-QR</a>, con diseños variados. Elegí el que más te guste y cambialos cuando quieras.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="left-image col-lg-5 col-md-12 col-sm-12 order-lg-1">
                <img src="../../../assets/img/home/about-image-1.png" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section" id="promotion2" #promotion2>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="center-heading">
                    <h2>Para qué sirve <em>?</em></h2>
                    <p>Un perfíl digital con un fácil acceso, permitirá a otros comunicarse con vos para conocerte o contactarse en caso de algún problema. También es un medio para guardar toda tu información en un solo lugar.</p>
                </div>
            </div>
            <div class="right-text offset-lg-1 col-lg-6 col-md-12 col-sm-12">
                <ul>
                    <li>
                        <img src="../../../assets/img/home/about-icon-4.png" alt="">
                        <div class="text">
                            <h4>Centralizá toda tu información</h4>
                            <p>
                                Es nuestra misión proveer un lugar donde puedas guardar toda tu información de manera segura y se encuentre a mano cuando la necesites. 
                            </p>
                        </div>
                    </li>
                    <li>
                        <img src="../../../assets/img/home/about-icon-5.png" alt="">
                        <div class="text">
                            <h4>Informá sobre personas, mascotas o vehículos perdidos</h4>
                            <p>En   <a rel="nofollow"
                                    href="https://www.qrlink.com.ar/#/lost">
                                        Tags en alerta
                                    </a> encontrá todos los tags que han sido informados como perdidos. Esta información es accesible para todos.
                            </p>
                        </div>
                    </li>
                    <li>
                        <img src="../../../assets/img/home/about-icon-6.png" alt="">
                        <div class="text">
                            <h4>Informate para proceder en casos de emergencia</h4>
                            <p>Toda esta información en un solo lugar y accesible para vos, siempre que la necesites.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="left-image col-lg-5 col-md-12 col-sm-12">
                <img src="../../../assets/img/home/about-image-2.png" class="rounded img-fluid d-block mx-auto" alt="App">
            </div> 
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section" id="promotion3" #promotion3>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="center-heading">
                    <h2>Cómo lo uso <em>?</em></h2>
                    <p>Empezá creando una cuenta y creá tu primer tag. Luego deberás adquirir los tags-QR para poder tener un vínculo con tu información digital.</p>
                </div>
            </div>
            <div class="right-text offset-lg-1 col-lg-6 col-md-12 col-sm-12 order-lg-2">
                <ul>
                    <li>
                        <img src="../../../assets/img/home/about-icon-7.png" alt="">
                        <div class="text">
                            <h4>Creá una cuenta para gestionar todos tus tags</h4>
                            <p><a rel="register" href="https://www.qrlink.com.ar/#/register" target="_parent">Registrate</a> en el sitio y conocé todo lo que podés hacer con un perfíl digital.</p>
                        </div>
                    </li>
                    <li>
                        <img src="../../../assets/img/home/about-icon-8.png" alt="">
                        <div class="text">
                            <h4>Creá tu primer tag</h4>
                            <p>
                                Podés crear un tag para vos, tus vehículos, mascotas, hijos y adultos mayores, completando su información personal y datos de interés.
                            </p>
                        </div>
                    </li>
                    <li>
                        <img src="../../../assets/img/home/about-icon-9.png" alt="">
                        <div class="text">
                            <h4>Vinculá cada tag con un código QR</h4>
                            <p>
                                Adquirí los <a class="link-anchor" (click)="scrollToElement(testimonials)">Tags-QR</a>, que son domes con un código QR que te permiten vincularte a tus tags y acceder a sus perfiles digitales.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="left-image col-lg-5 col-md-12 col-sm-12 order-lg-1"
                data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <img src="../../../assets/img/home/about-image-3.png" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<!-- Screenshots -->
<div id="screens" class="slider">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <swiper
                    [slidesPerView]="1"
                    [spaceBetween]="50"
                    [navigation]="true"
                    [pagination]="{ type: 'fraction' }"
                    [centeredSlides]="true"
                    [keyboard]="{ enabled: true }"
                    [autoplay]="{ delay: 5000 }"
                    [virtual]="true"
                    class="my-swiper"
                >
                    <ng-template swiperSlide *ngFor="let slide of slides; index as i">
                        <div class="swiper-slide-container">
                            <img class="" src={{slide}} alt={{i}}>
                        </div>
                    </ng-template>
                </swiper>
            </div>
        </div>
    </div>
</div>
<!-- end of screenshots -->

<!-- ***** Testimonials Starts ***** -->
<section class="section" id="testimonials" #testimonials>
    <div class="container">
        <div class="row d-flex flex-column align-items-center">
            <div class="col-lg-8">
                <div class="center-heading">
                    <h2>Tiene algún costo <em>?</em></h2>
                    <p>Utilizar la plataforma no tiene costo, pero es necesario adquirir los códigos tag-QR para vincularlos a tus tags. Se utiliza un código por cada tag que hayas creado.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-10">
                <div class="">
                    <div class="item service-item">
                        <div class="testimonial-content">
                            <h4>Tag-QR único</h4>
                            <div class="author">
                                <i>
                                    <img src="../../../assets/img/home/qrcode.png" style="border-radius: 12px;" alt="Author One">
                                </i>
                            </div>
                            <h2 class="text-white" style="font-weight: 700; text-shadow: 1px 1px grey;"><span style="font-size: 16px; position: relative; bottom: 10px;">$</span>600.00</h2>
                            <span style="font-size: 10px; ">(Precio sujeto a modificaciones sin previo aviso)</span>
                            <hr>
                            <p>Dome de resina de 4cm x 4cm con código QR único.</p>
                            <p>Son adhesivos y no se rayan.</p>
                            <p>Diferentes diseños y colores.</p>
                            <span>*Se consiguen en kioscos, petshops, etc.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Testimonials Ends ***** -->


<!-- ***** Footer Start ***** -->
<footer id="contact-us">
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="contact-form">
                        <form id="contact"  autocomplete="off">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <fieldset>
                                        <input name="name" type="text" id="name" placeholder="Nombre completo" required=""
                                            style="background-color: rgba(250,250,250,0.3);">
                                    </fieldset>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <fieldset>
                                        <input name="email" type="text" id="email" placeholder="Correo electrónico"
                                            required="" style="background-color: rgba(250,250,250,0.3);">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="message" rows="6" id="message" placeholder="Escribí tu mensaje"
                                            minlength="2" maxlength="150" required="" style="background-color: rgba(250,250,250,0.3);"></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="main-button">Enviar mensaje</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
                <div class="right-content col-lg-6 col-md-12 col-sm-12">
                    <h2>Dudas ?</h2>
                    <p>Si tenés dudas, enviame un mensaje y te responderé cuanto antes.</p>
                    <p>Visitá las redes sociales para enterarte de novedades y asi, poder estar siempre conectados.</p>
                    <ul class="social">
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="sub-footer">
                    <p>qrlink.com.ar | 2022
                    | Designed by <a class="fw-bold" rel="nofollow" href="https://github.com/RodolfoRXXX">Rodolfo Romero</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
