<div class="body-content">
    <div class="card card-content">
        <img class="card-img-top" src="../../../../../assets/img/gato.jpg" style="height: fit-content;" alt="Card image cap">
        <i class="fa-solid fa-circle-exclamation fa-2x img-alert text-danger" title="Perdido!"></i>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead to additional content. This content is a little bit longer. This content is longer.</p>
        </div>
        <div class="card-footer">
            <small class="text-danger">Last updated 3 mins ago</small>
        </div>
    </div>
</div>
