<nav class="navbar navbar-light navbar-color nav-prop">
    <a class="navbar-brand nav-brand" routerLink="">
      <img class="img-logo" src="../../../assets/img/qrlink-logo-1.png" alt="qrlink-logo">
    </a>
    <div class="col-md-6 col-12">
      <ul class="navbar-nav nav-items">
        <li class="nav-item ms-0 display-menu" *ngIf="isLogin">
          <button class="btn" (click)="open()"><span class="navbar-toggler-icon"></span></button>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3 text-white" routerLink = "home" routerLinkActive = "active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3 text-white" routerLink = "lost" routerLinkActive = "active">Tags en alerta</a>
        </li>
        <li class="nav-item d-flex" *ngIf="isLogin">
            <a class="nav-link me-3 text-white" routerLink = "profile" routerLinkActive = "active">Mi cuenta</a>
        </li>
        <li class="nav-item d-flex" *ngIf="!isLogin">
          <a class="nav-link me-3 text-white" routerLink = "login" routerLinkActive = "active">Ingresar</a>
        </li>
        <li class="nav-item d-flex" *ngIf="!isLogin">
          <a class="nav-link text-white" routerLink = "register" routerLinkActive = "active" >Registrarse</a>
        </li>
      </ul>
    </div>
  </nav>
