.input-style {
    border: none;
    border-bottom: 1px solid rgb(172, 170, 170);
    border-radius: 0;
    background-color: #F6FBFF;
}

.input-style:focus {
    outline: 0;
    box-shadow: none;
    background-color: #f0f8ff;
}

.btn-return {
    position:absolute;
    left: 15px;
    font-size: 1.4rem;
    cursor: pointer;
    opacity: 0.5;
}

.btn-return:hover {
    opacity: 0.7;
}