<h6 class="text-center mt-2">Ingresá el código que recibiste en tu correo electrónico</h6>
<form [formGroup]="form" style="padding: 1rem 0;" (ngSubmit)="onSubmit()">
    <div class="d-flex justify-content-around w-100 mb-3">
        <input type="text" 
               formControlName="1" 
               maxlength="1" 
               class="input-code"
               (focus)="actualizarSmt()"
               [ngClass]="form.get('1')?.valid?'is-valid':(((form.get('1')?.invalid)&&(form.get('1')?.dirty||form.get('1')?.touched))?'is-invalid':'')"
        />
        <input type="text" 
               formControlName="2" 
               maxlength="1" 
               class="input-code"
               (focus)="actualizarSmt()"
               [ngClass]="form.get('2')?.valid?'is-valid':(((form.get('2')?.invalid)&&(form.get('2')?.dirty||form.get('2')?.touched))?'is-invalid':'')"
        />
        <input type="text" 
               formControlName="3" 
               maxlength="1" 
               class="input-code"
               (focus)="actualizarSmt()"
               [ngClass]="form.get('3')?.valid?'is-valid':(((form.get('3')?.invalid)&&(form.get('3')?.dirty||form.get('3')?.touched))?'is-invalid':'')"
        />
        <input type="text" 
               formControlName="4" 
               maxlength="1" 
               class="input-code"
               (focus)="actualizarSmt()"
               [ngClass]="form.get('4')?.valid?'is-valid':(((form.get('4')?.invalid)&&(form.get('4')?.dirty||form.get('4')?.touched))?'is-invalid':'')"
        />
        <input type="text" 
               formControlName="5" 
               maxlength="1" 
               class="input-code"
               (focus)="actualizarSmt()"
               [ngClass]="form.get('5')?.valid?'is-valid':(((form.get('5')?.invalid)&&(form.get('5')?.dirty||form.get('5')?.touched))?'is-invalid':'')"
        />
        <input type="text" 
               formControlName="6" 
               maxlength="1" 
               class="input-code"
               (focus)="actualizarSmt()"
               [ngClass]="form.get('6')?.valid?'is-valid':(((form.get('6')?.invalid)&&(form.get('6')?.dirty||form.get('6')?.touched))?'is-invalid':'')"
        />
    </div>
    <button type="submit" 
        class="btn btn-primary form-control" 
        [disabled]="form.invalid || estadoSmt != 'verificar'"
>
  <span *ngIf="estadoSmt == 'verificar'">Verificar</span>
  <div *ngIf="estadoSmt == 'load'" class="spinner-border box-load" role="status">
       <span class="visually-hidden">...loading</span>
  </div>
  <span *ngIf="estadoSmt == 'ok'">Ok!</span>
  <span *ngIf="estadoSmt == 'error'">Error!</span>
</button>
<div class="alert mt-3 mb-1" [ngClass]="classLogin" [hidden]="!displayLogin">
  <p class="mb-0 d-block text-center">{{ messageLogin }}</p>
</div>
<div class="d-flex justify-content-end">
    <a type="button" class="d-block mt-2 mb-0 text-end" style="font-size: 0.8rem;" (click)="actualizar_estado('inicio')" title="Reenviar el código">Reenviar el código</a>
</div>
</form>