

a {
    color: inherit;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {



}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {



}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {



}

.active {
    color: #fff;
}

.header{
    display: flex;
    justify-content: space-between;
}

.box-login {
    display: flex;
}

.d-768 {
    display: none;
}
.u-768 {
    display: flex;
}

@media only screen and (max-width: 768px) {

    .d-768 {
        display: flex;
    }
    .u-768 {
        display: none;
    }

}