

a {
    color: inherit;
    text-decoration: none;
}

.active {
    color: #fff;
}

.header{
    display: flex;
    justify-content: space-between;
}

.box-user {
    display: flex;
}

.box-login {
    display: flex;
}

.d-768 {
    display: none;
}
.u-768 {
    display: flex;
}

@media only screen and (max-width: 600px) {

    .d-768 {
        display: flex;
    }
    .u-768 {
        display: none;
    }

}