.main-content {
    height: calc(100vh - 74px); /* Es el alto de la pantalla menos 74px del nav para pantallas de ancho mayor a 768px */
    background-color: rgb(247, 247, 247);
    position: relative;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {

    .main-content {
        height: calc(100vh - 122px); /* Es el alto de la pantalla menos 122px del nav para pantallas de ancho menos a 768px */
    }

}