.main-content {
    min-height: calc(100vh - 74px);
    background-color: rgb(247, 247, 247);
    position: relative;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {

    .main-content {
        min-height: calc(100vh - 122px);
    }

}
