@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.box-content {
    width: 100%;
    padding: 15px;
    margin: 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.title-content {
    display: inline-block;
    background-color: rgb(167, 237, 255);
    padding: 3px 10px;
    font-weight: 700;
}

.subtitle-content {
    display: block;
    font-weight: 700;
    margin: 5px;
}

.text-content {
    display: block;
    margin: 0;
    padding: 0 5px;
    text-align: justify;
}