<form [formGroup]="form" class="p-3" (ngSubmit)="onSubmit()" autocomplete="off">

    <!-- Nuevo email -->
    <div class="mb-2">
      <label for="InputEmail" class="form-label ps-2">Ingresá tu nueva cuenta de correo</label>
      <input type="email" 
             class="form-control input-style"
             id="InputEmail" 
             aria-describedby="newEmailHelp"
             formControlName="email"
             placeholder="Escribí aquí..."
             (focus)="actualizarSmt()"
             [ngClass]="form.get('email')?.valid?'is-valid':(((form.get('email')?.invalid)&&(form.get('email')?.dirty||form.get('email')?.touched))?'is-invalid':'')"
      />
      <div style="min-height: 15px; font-size: 0.9rem;">
        <div class="invalid-feedback d-flex justify-content-start mt-0" *ngIf="(form.get('email')?.invalid)&&(form.get('email')?.dirty||form.get('email')?.touched)">
          <span *ngIf="form.get('email')?.errors?.['required']">El correo electrónico nuevo es requerido.</span>
          <span *ngIf="form.get('email')?.errors?.['incorrectoName']">El formato del correo es incorrecto.</span>
        </div>
      </div>
    </div>

    <!-- Repetir nuevo email -->
    <div class="mb-2">
        <label for="InputReEmail" class="form-label ps-2">Repetí el correo electrónico nuevo</label>
        <input type="email" 
               class="form-control input-style"
               id="InputReEmail" 
               aria-describedby="reEmailHelp"
               formControlName="reemail"
               placeholder="Escribí aquí..."
               [ngClass]="(form.get('reemail')?.valid)&&(!form.errors?.['noIguales'])?'is-valid':( (form.get('reemail')?.invalid || form.errors?.['noIguales']) && (form.get('reemail')?.dirty||form.get('reemail')?.touched)?'is-invalid':'')"
        />
        <div style="min-height: 15px; font-size: 0.9rem;">
          <div class="invalid-feedback d-flex justify-content-start mt-0" *ngIf="(form.get('reemail')?.invalid || form.errors?.['noIguales'])&&(form.get('reemail')?.dirty||form.get('reemail')?.touched)">
            <span *ngIf="form.get('reemail')?.errors?.['required']">Este campo es requerido.</span>
            <span *ngIf="form.errors?.['noIguales']">El correo electrónico ingresado no es el mismo.</span>
          </div>
        </div>
    </div>
    <input type="hidden" formControlName="id">

    <button type="submit" 
            class="btn btn-primary form-control mt-1" 
            [disabled]="form.invalid || estadoSmt != 'actualizar'"      
    >
      <span *ngIf="estadoSmt == 'actualizar'">Actualizar</span>
      <span *ngIf="estadoSmt == 'load'">Loading...</span>
      <span *ngIf="estadoSmt == 'ok'">Ok!</span>
      <span *ngIf="estadoSmt == 'error'">Error!</span>
    </button>
</form>