<div class="modal-body">
    <div class="m-3 mb-1 d-flex flex-column align-items-center justify-content-between">
        <h3 class="text-center">Encontraste este tag perdido?</h3>
        <img class="img-mark-position" src="../../../../../assets/img/pin_position.png" alt="mapa_position">
        <p class="d-block text-muted text-center">Si es así, marcá esta posición en el mapa indicando donde lo encontraste.</p>
    </div>
</div>
<div class="modal-footer d-flex justify-content-around">
    <a type="button" class="btn btn-ligth" (click)="cerrar(false)">Cancelar</a>
    <a type="button" class="btn btn-outline-success btn-mark" [ngClass]="!state?'disabled':''" (click)="cerrar(true)">
        <span class="d-block" *ngIf="state">Marcar posición</span>
        <div class="spinner-border text-success d-block" style="height:20px; width:20px" role="status" *ngIf="!state">
            <span class="visually-hidden">...loading</span>
        </div>
    </a>
</div>
