.main-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.header-content {
    display: block;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
    .header-content > p {
        font-weight: 500;
        text-align: center;
        margin-bottom: 0;
        font-size: 18px;
    }

.body-content {
    background-color: #fff;
    padding: 10px 20px 20px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.is-valid {
    background-color: rgb(225, 250, 227)!important;
}

.is-invalid {
    background-color: rgb(250, 225, 225)!important;
}

.input-code {
    width: 10%; 
    text-align: center; 
    font-weight: bold;
    border: none;
    border-bottom: 1px solid rgb(172, 170, 170);
    border-radius: 0;
    background-color: #F6FBFF;
}

.input-code:focus {
    outline: 0;
    box-shadow: none;
    background-color: #f0f8ff;
}

.btn-fast-logout{
    position: absolute;
    bottom: 30px;
    right: 30px;
    border: none;
    border-radius: 5px;
    padding: 0.75rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.btn-fast-logout:hover, .btn-fast-logout:active{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}