<div [formGroup]="form">
    <div class="input-group row">
        <div class="col-6">
            <label class="form-label" for="marca">Marca:</label>
            <input class="form-control" type="text" id="marca" formControlName="marca">
        </div>
        <div class="col-6">
            <label class="form-label" for="modelo">Modelo:</label>
            <input class="form-control" type="text" id="modelo" formControlName="modelo">
        </div>
    </div>
    <div class="input-group row">
        <div class="col-2">
            <label class="form-label" for="color">Color:</label>
            <input class="form-control" type="text" id="color" formControlName="color">
        </div>
        <div class="col-4">
            <label class="form-label" for="anio">Año:</label>
            <input class="form-control" type="number" id="anio" formControlName="anio">
        </div>
        <div class="col-6">
            <label class="form-label" for="patente">Patente:</label>
            <input class="form-control" type="text" id="patente" formControlName="patente">
        </div>
    </div>
    <div class="input-group row">
        <div class="col">
            <label class="form-label" for="ciudad">Ciudad:</label>
            <input class="form-control" type="text" id="codarea" formControlName="ciudad">
        </div>
    </div>
    
    <h6>Opcionales:</h6>
    <div class="input-group row">
        <div class="col-6">
            <label class="form-label" for="aseguradora">Aseguradora:</label>
            <input class="form-control" type="text" id="aseguradora" formControlName="aseguradora">
        </div>
        <div class="col-6">
            <label class="form-label" for="nroseguro">Nro. de seguro:</label>
            <input class="form-control" type="number" id="nroseguro" formControlName="nroseguro">
        </div>
    </div>
</div>

