<div [formGroup]="form">
    <div class="input-group row m-0">
        <div class="col-6 ps-0">
            <label class="form-label mb-1 ms-1" for="marca">
                Marca: <span class="text-danger fw-bold">*</span>
            </label>
            <input class="form-control input-style" 
                   type="text" 
                   id="marca" 
                   formControlName="marca"
                   [ngClass]="((form.get('marca')?.valid)&&(form.get('marca')?.dirty))?'is-valid':(((form.get('marca')?.invalid)&&(form.get('marca')?.dirty||form.get('marca')?.touched))?'is-invalid':'')"
            />
            <div style="height: 18px; font-size: 0.9rem; ">
                <div class="invalid-feedback d-flex justify-content-start mt-0 ms-1" *ngIf="(form.get('marca')?.invalid)&&(form.get('marca')?.dirty||form.get('marca')?.touched)">
                  <span *ngIf="form.get('marca')?.errors?.['required']">"Marca" es requerido.</span>
                  <span *ngIf="form.get('marca')?.errors?.['minlength']">"Marca" mín. 1 caracteres.</span>
                  <span *ngIf="form.get('marca')?.errors?.['maxlength']">"Marca" máx. 20 caracteres.</span>
                </div>
            </div>
        </div>
        <div class="col-6 pe-0">
            <label class="form-label mb-1 ms-1" for="modelo">
                Modelo: <span class="text-danger fw-bold">*</span>
            </label>
            <input class="form-control input-style" 
                   type="text" 
                   id="modelo" 
                   formControlName="modelo"
                   [ngClass]="((form.get('modelo')?.valid)&&(form.get('modelo')?.dirty))?'is-valid':(((form.get('modelo')?.invalid)&&(form.get('modelo')?.dirty||form.get('modelo')?.touched))?'is-invalid':'')"
            />
            <div style="height: 18px; font-size: 0.9rem; ">
                <div class="invalid-feedback d-flex justify-content-start mt-0 ms-1" *ngIf="(form.get('modelo')?.invalid)&&(form.get('modelo')?.dirty||form.get('modelo')?.touched)">
                  <span *ngIf="form.get('modelo')?.errors?.['required']">"Modelo" es requerido.</span>
                  <span *ngIf="form.get('modelo')?.errors?.['minlength']">"Modelo" mín. 2 caracteres.</span>
                  <span *ngIf="form.get('modelo')?.errors?.['maxlength']">"Modelo" máx. 20 caracteres.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="input-group row m-0">
        <div class="col-4 ps-0">
            <label class="form-label mb-1 ms-1" for="color">
                Color: <span class="text-danger fw-bold">*</span>
            </label>
            <select class="form-select input-style"
                    type="text" 
                    id="color" 
                    formControlName="color"
                    [ngClass]="((form.get('color')?.valid)&&(form.get('color')?.dirty))?'is-valid':(((form.get('color')?.invalid)&&(form.get('color')?.dirty||form.get('color')?.touched))?'is-invalid':'')"
            >
                <option value="" selected disabled>Seleccioná un color</option>
                <option [value]="color" *ngFor="let color of colores">{{color}}</option>
            </select>
            <div style="height: 18px; font-size: 0.9rem; ">
                <div class="invalid-feedback d-flex justify-content-start mt-0 ms-1" *ngIf="(form.get('color')?.invalid)&&(form.get('color')?.dirty||form.get('color')?.touched)">
                    <span *ngIf="form.get('color')?.errors?.['required']">"Color" es requerido.</span>
                </div>
            </div>
        </div>
        <div class="col-4">
            <label class="form-label mb-1 ms-1" for="anio">
                Año: <span class="text-danger fw-bold">*</span>
            </label>
            <input class="form-control input-style" 
                   type="number" 
                   id="anio" 
                   formControlName="anio"
                   [ngClass]="((form.get('anio')?.valid)&&(form.get('anio')?.dirty))?'is-valid':(((form.get('anio')?.invalid)&&(form.get('anio')?.dirty||form.get('anio')?.touched))?'is-invalid':'')"
            />
            <div style="height: 18px; font-size: 0.9rem; ">
                <div class="invalid-feedback d-flex justify-content-start mt-0 ms-1" *ngIf="(form.get('anio')?.invalid)&&(form.get('anio')?.dirty||form.get('anio')?.touched)">
                    <span *ngIf="form.get('anio')?.errors?.['required']">"Año" es requerido.</span>
                    <span *ngIf="form.get('anio')?.errors?.['minlength']">"Año" no válido.</span>
                    <span *ngIf="form.get('anio')?.errors?.['maxlength']">"Año" no válido.</span>
                </div>
            </div>
        </div>
        <div class="col-4 pe-0">
            <label class="form-label mb-1 ms-1" for="patente">
                Patente: <span class="text-danger fw-bold">*</span>
            </label>
            <input class="form-control input-style" 
                   type="text" 
                   id="patente" 
                   formControlName="patente"
                   [ngClass]="((form.get('patente')?.valid)&&(form.get('patente')?.dirty))?'is-valid':(((form.get('patente')?.invalid)&&(form.get('patente')?.dirty||form.get('patente')?.touched))?'is-invalid':'')"
            />
            <div style="height: 18px; font-size: 0.9rem; ">
                <div class="invalid-feedback d-flex justify-content-start mt-0 ms-1" *ngIf="(form.get('patente')?.invalid)&&(form.get('patente')?.dirty||form.get('patente')?.touched)">
                    <span *ngIf="form.get('patente')?.errors?.['required']">"Patente" es requerido.</span>
                    <span *ngIf="form.get('patente')?.errors?.['minlength']">"Patente" mín. 2 caracteres.</span>
                    <span *ngIf="form.get('patente')?.errors?.['maxlength']">"Patente" máx. 10 caracteres.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="input-group row m-0">
        <div class="col p-0">
            <label class="form-label mb-1 ms-1" for="ciudad">
                Ciudad: <span class="text-danger fw-bold">*</span>
            </label>
            <input class="form-control input-style" 
                   type="text" 
                   id="codarea" 
                   formControlName="ciudad"
                   [ngClass]="((form.get('ciudad')?.valid)&&(form.get('ciudad')?.dirty))?'is-valid':(((form.get('ciudad')?.invalid)&&(form.get('ciudad')?.dirty||form.get('ciudad')?.touched))?'is-invalid':'')"
            />
            <div style="height: 18px; font-size: 0.9rem; ">
                <div class="invalid-feedback d-flex justify-content-start mt-0 ms-1" *ngIf="(form.get('ciudad')?.invalid)&&(form.get('ciudad')?.dirty||form.get('ciudad')?.touched)">
                    <span *ngIf="form.get('ciudad')?.errors?.['required']">"Ciudad" es requerida.</span>
                    <span *ngIf="form.get('ciudad')?.errors?.['minlength']">"Ciudad" mín. 4 caracteres.</span>
                    <span *ngIf="form.get('ciudad')?.errors?.['maxlength']">"Ciudad" máx. 20 caracteres.</span>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-1">
    <h6 class="m-1 mt-0">Opcionales:</h6>
    <div class="input-group row m-0">
        <div class="col-6 ps-0">
            <label class="form-label mb-1 ms-1" for="aseguradora">Aseguradora:</label>
            <input class="form-control input-style" 
                   type="text" 
                   id="aseguradora" 
                   formControlName="aseguradora"
                   [ngClass]="((form.get('aseguradora')?.value.length == 0)||(!form.get('aseguradora')?.dirty))?'':((form.get('aseguradora')?.invalid)&&(form.get('aseguradora')?.dirty||form.get('aseguradora')?.touched)?'is-invalid':('is-valid'))"
            />
            <div style="height: 18px; font-size: 0.9rem; ">
                <div class="invalid-feedback d-flex justify-content-start mt-0 ms-1" *ngIf="(form.get('aseguradora')?.invalid)&&(form.get('aseguradora')?.dirty||form.get('aseguradora')?.touched)">
                    <span *ngIf="form.get('aseguradora')?.errors?.['minlength']">"Aseguradora" mín. 3 caracteres.</span>
                    <span *ngIf="form.get('aseguradora')?.errors?.['maxlength']">"Aseguradora" máx. 30 caracteres.</span>
                </div>
            </div>
        </div>
        <div class="col-6 pe-0">
            <label class="form-label mb-1 ms-1" for="nroseguro">Nro. de seguro:</label>
            <input class="form-control input-style" 
                   type="number" 
                   id="nroseguro" 
                   formControlName="nroseguro"
                   [ngClass]="((form.get('nroseguro')?.value.length == 0)||(!form.get('nroseguro')?.dirty))?'':((form.get('nroseguro')?.invalid)&&(form.get('nroseguro')?.dirty||form.get('nroseguro')?.touched)?'is-invalid':('is-valid'))"
            />
            <div style="height: 18px; font-size: 0.9rem; ">
                <div class="invalid-feedback d-flex justify-content-start mt-0 ms-1" *ngIf="(form.get('nroseguro')?.invalid)&&(form.get('nroseguro')?.dirty||form.get('nroseguro')?.touched)">
                    <span *ngIf="form.get('nroseguro')?.errors?.['minlength']">"Nro. de seguro" mín. 3 caracteres.</span>
                    <span *ngIf="form.get('nroseguro')?.errors?.['maxlength']">"Nro. de seguro" máx. 40 caracteres.</span>
                </div>
            </div>
        </div>
    </div>
</div>

