<div [formGroup]="form">
    <div class="input-group row m-0">
        <div class="col-6 ps-0">
            <label class="form-label mb-1 ms-1" for="nombre">
                Nombre: <span class="text-danger fw-bold">*</span>
            </label>
            <input class="form-control input-style" 
                   type="text" 
                   id="nombre" 
                   formControlName="nombre"
                   [ngClass]="((form.get('nombre')?.valid)&&(form.get('nombre')?.dirty))?'is-valid':(((form.get('nombre')?.invalid)&&(form.get('nombre')?.dirty||form.get('nombre')?.touched))?'is-invalid':'')"
            />
            <div style="height: 18px; font-size: 0.9rem; ">
                <div class="invalid-feedback d-flex justify-content-start mt-0 ms-1" *ngIf="(form.get('nombre')?.invalid)&&(form.get('nombre')?.dirty||form.get('nombre')?.touched)">
                  <span *ngIf="form.get('nombre')?.errors?.['required']">"Nombre" es requerido.</span>
                  <span *ngIf="form.get('nombre')?.errors?.['minlength']">"Nombre" mín. 2 caracteres.</span>
                  <span *ngIf="form.get('nombre')?.errors?.['maxlength']">"Nombre" máx. 20 caracteres.</span>
                </div>
            </div>
        </div>
        <div class="col-6 pe-0">
            <label class="form-label mb-1 ms-1" for="especie">
                Especie: <span class="text-danger fw-bold">*</span>
            </label>
            <select class="form-select input-style"
                    type="text" 
                    id="especie" 
                    formControlName="especie"
                    [ngClass]="((form.get('especie')?.valid)&&(form.get('especie')?.dirty))?'is-valid':(((form.get('especie')?.invalid)&&(form.get('especie')?.dirty||form.get('especie')?.touched))?'is-invalid':'')"
            >
                <option value="" selected disabled>Seleccioná una especie</option>
                <option [value]="especie" *ngFor="let especie of especies">{{especie}}</option>
            </select>
            <div style="height: 18px; font-size: 0.9rem; ">
                <div class="invalid-feedback d-flex justify-content-start mt-0 ms-1" *ngIf="(form.get('especie')?.invalid)&&(form.get('especie')?.dirty||form.get('especie')?.touched)">
                  <span *ngIf="form.get('especie')?.errors?.['required']">"Especie" es requerida.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="input-group row m-0">
        <div class="col p-0">
            <label class="form-label mb-1 ms-1" for="ciudad">
                Ciudad: <span class="text-danger fw-bold">*</span>
            </label>
            <input class="form-control input-style" 
                   type="text" 
                   id="ciudad" 
                   formControlName="ciudad"
                   [ngClass]="((form.get('ciudad')?.valid)&&(form.get('ciudad')?.dirty))?'is-valid':(((form.get('ciudad')?.invalid)&&(form.get('ciudad')?.dirty||form.get('ciudad')?.touched))?'is-invalid':'')"
            />
            <div style="height: 18px; font-size: 0.9rem; ">
                <div class="invalid-feedback d-flex justify-content-start mt-0 ms-1" *ngIf="(form.get('ciudad')?.invalid)&&(form.get('ciudad')?.dirty||form.get('ciudad')?.touched)">
                    <span *ngIf="form.get('ciudad')?.errors?.['required']">"Ciudad" es requerida.</span>
                    <span *ngIf="form.get('ciudad')?.errors?.['minlength']">"Ciudad" mín. 4 caracteres.</span>
                    <span *ngIf="form.get('ciudad')?.errors?.['maxlength']">"Ciudad" máx. 20 caracteres.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="input-group row m-0">
        <div class="col p-0">
            <label class="form-label mb-1 ms-1" for="direccion">
                Dirección: <span class="text-danger fw-bold">*</span>
            </label>
            <input class="form-control input-style" 
                   type="text" 
                   id="direccion" 
                   formControlName="direccion"
                   [ngClass]="((form.get('direccion')?.valid)&&(form.get('direccion')?.dirty))?'is-valid':(((form.get('direccion')?.invalid)&&(form.get('direccion')?.dirty||form.get('direccion')?.touched))?'is-invalid':'')"
            />
            <div style="height: 18px; font-size: 0.9rem; ">
                <div class="invalid-feedback d-flex justify-content-start mt-0 ms-1" *ngIf="(form.get('direccion')?.invalid)&&(form.get('direccion')?.dirty||form.get('direccion')?.touched)">
                    <span *ngIf="form.get('direccion')?.errors?.['required']">"Dirección" es requerida.</span>
                    <span *ngIf="form.get('direccion')?.errors?.['minlength']">"Dirección" mín. 4 caracteres.</span>
                    <span *ngIf="form.get('direccion')?.errors?.['maxlength']">"Dirección" máx. 50 caracteres.</span>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-1">
    <h6 class="m-1 mt-0">Opcionales:</h6>
    <div class="input-group row m-0">
        <div class="col p-0">
            <label class="form-label mb-1 ms-1" for="fechanac">Fecha de nacimiento:</label>
            <input class="form-control input-style" 
                   type="date" 
                   id="fechanac" 
                   formControlName="fechanac"
                   [ngClass]="((form.get('fechanac')?.value.length == 0)||(!form.get('fechanac')?.dirty))?'':((form.get('fechanac')?.invalid)&&(form.get('fechanac')?.dirty||form.get('fechanac')?.touched)?'is-invalid':('is-valid'))"
            />
            <div style="height: 18px; font-size: 0.9rem; ">
                <div class="invalid-feedback d-flex justify-content-start mt-0 ms-1" *ngIf="(form.get('fechanac')?.invalid)&&(form.get('fechanac')?.dirty||form.get('fechanac')?.touched)">
                    <span *ngIf="form.get('fechanac')?.invalid">Fecha de nacimiento incorrecta.</span>
                </div>
            </div>
        </div>
    </div>
</div>

