
<div class="input-group row">
    <div class="col-6">
        <label class="form-label" for="nombre">Nombre:</label>
        <input class="form-control" type="text" id="nombre">
    </div>
    <div class="col-6">
        <label class="form-label" for="apellido">Especie:</label>
        <input class="form-control" type="text" id="apellido">
    </div>
</div>
<div class="input-group row">
    <div class="col">
        <label class="form-label" for="ciudad">Ciudad:</label>
        <input class="form-control" type="text" id="codarea">
    </div>
</div>
<div class="input-group row">
    <div class="col">
        <label class="form-label" for="direccion">Dirección:</label>
        <input class="form-control" type="text" id="direccion">
    </div>
</div>

<h6>Opcionales:</h6>
<div class="input-group row">
    <div class="col">
        <label class="form-label" for="detalle">Detalle característico:</label>
        <input class="form-control" type="text" id="detalle">
    </div>
</div>
<div class="input-group row">
    <div class="col">
        <label class="form-label" for="fechanac">Fecha de nacimiento:</label>
        <input class="form-control" type="date" id="fechanac">
    </div>
</div>
