<div class="main-content">
    <nav class="dashboard-nav border-bottom">
        <h2>Hola {{ user }}!</h2>
        <img class="img-content" src="../../../../assets/img/rest_img.png" alt="rest_img">
    </nav>
    <!-- Contenido del usuario -->
    <section class="dashboard-info">
        <div class="card-info border rounded color_alert">
            <div class="box-alert" *ngIf="state_box_alert == 'ok'">
                <p class="d-block text-left text-light" style="text-shadow: 1px 1px 1px grey;">Tag en alerta</p>
                <h5 class="text-center mb-0">
                    <span *ngIf="!isFound">Sin novedades.</span>
                    <span *ngIf="isFound">Hay novedades sobre tus tags!</span>
                </h5>
                <button type="button" class="btn btn-link text-end btn-a" title="Ver mapa" (click)="ver_ubicacion()" [disabled]="!isFound">Ver mapa</button>
                <i class="fa-solid fa-circle-exclamation tag-news fa-2x" title="Hay novedades sobre tus tags perdidos!" *ngIf="isFound"></i>
            </div>
            <div class="spinner-border box-alert-load" role="status" *ngIf="state_box_alert == 'load'">
                <span class="visually-hidden">...loading</span>
            </div>
            <div class="box-alert-error" *ngIf="state_box_alert == 'error'">
                <h6 class="mb-0 text-center text-light">Ha ocurrido un error durante la carga.<br>Actualizá la página.</h6>
            </div>
        </div>
        <div class="card-info border rounded color_account">
            <p class="d-block text-left text-light" style="text-shadow: 1px 1px 1px grey;">Estado de tu cuenta</p>
            <h5 class="text-center" *ngIf="active">Activa</h5>
            <h5 class="text-center" *ngIf="!active">Inactiva</h5>
            <button type="button" class="btn btn-link text-end btn-a" title="Activar cuenta" [disabled]="active" (click)="activar_cuenta()">Activar cuenta</button>
        </div>
        <div class="card-info border rounded color_info">
            <p class="d-block text-left text-light" style="text-shadow: 1px 1px 1px grey;">Correo electrónico</p>
            <h5 class="text-center">{{ email }}</h5>
            <button type="button" class="btn btn-link text-end btn-a" title="Configurar correo" (click)="configurar_email()">Modificar cuenta</button>
        </div>
    </section>
    <!-- Contenido del tag -->
    <section class="dashboard-profile">
        <!-- Datos ok -->
        <div class="box-profile-data" *ngIf="state == 'ok'">
            <div class="card-profile rounded">
                <i class="fa-solid fa-user-tag fa-2x"></i>
                <p class="d-block text-center">Tags creados<br><b style="font-size: 1.05rem;">({{ card_total }})</b></p>
            </div>
            <div class="card-profile rounded">
                <i class="fa-solid fa-user-check fa-2x"></i>
                <p class="d-block text-center">Tags vinculados<br><b style="font-size: 1.05rem;">({{ card_link }})</b></p>
            </div>
            <div class="card-profile rounded">
                <i class="fa-solid fa-user-xmark fa-2x"></i>
                <p class="d-block text-center">Tags no vinculados<br><b style="font-size: 1.05rem;">({{ card_nolink }})</b></p>
            </div>
            <div class="card-profile rounded">
                <i class="fa-solid fa-person-circle-exclamation fa-2x"></i>
                <p class="d-block text-center">Tags en alerta<br><b style="font-size: 1.05rem;">({{ card_alert }})</b></p>
            </div>
        </div>
        <!-- Loading de carga -->
        <div class="box-profile-load" *ngIf="state == 'load'">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">...loading</span>
            </div>
        </div>
        <!-- Error de carga de datos -->
        <div class="box-profile-error" *ngIf="state == 'error'">
            <div class="alert alert-danger">
                <h6 class="text-center mb-0">Hubo un problema al cargar los datos. Por favor, actualizá la página.</h6>
            </div>
        </div>
    </section>

    <div id="map">
    </div>

</div>

<!-- Modal ubicación -->
<ng-template #modal_ubicacion let-modal>
    <app-modal-ubicacion [found_tags]="found_tags"></app-modal-ubicacion>
</ng-template>
