
.main-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 3rem 0;
    height: 150px;
    background-color: rgb(247, 247, 247);
}

.img-content {
    height: 100%;
}

.dashboard-info {
    width: 100%;
    display: grid;
    align-content: center;
    padding: 2rem;
}

.dashboard-info a {
    color: rgb(35, 60, 132)!important;
}

.card-info {
    min-width: 240px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.25rem 0.5rem;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-info:nth-child(1) {
    justify-content: center;
    align-items: center;
}
    .box-alert {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }
    .tag-news {
        position: absolute;
        top: 5px;
        right: 5px;
        color: #fff;
        background-color: red;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    .box-alert-load {
        display: block;
        color: #fff;
        height:30px; width:30px
    }
    .box-alert-error{
        display: flex;
        align-items: center;
    }

.dashboard-profile {
    padding: 2rem;
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 20px;
}

.box-profile-data {
    min-height: 140px;
    width: 100%;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: auto auto;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 2.7rem 1rem 1rem;
    position: relative;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-left: 2px solid rgb(110, 149, 255);
}
.box-profile-load {
    height: 120px;
    width: 100%;
    left: 48%;
    top: 50%;
    position: absolute;
}
.box-profile-error {
    padding: 1rem 1rem 1.5rem;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.box-profile-title{
    position: absolute;
    top: 0.5rem;
    width: 100%;
    text-align: left;
    margin-bottom: 0;
    padding: 0 0 0.25rem 0.75rem;
}

.card-profile {
    max-width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.75rem 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
}
.card-profile p {
    font-size: 0.75rem;
    margin-bottom: 0;
    color: black;
}

.card-profile:hover, .card-profile:active{
    background-color: rgb(247, 247, 247);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.btn-return {
    position:absolute;
    left: 20px;
    font-size: 2rem;
    cursor: pointer;
    opacity: 0.6;
}

.btn-return:hover {
    opacity: 0.8;
}

.color_alert {
    background: linear-gradient(to right, rgb(236, 112, 99), rgb(230, 171, 164));
}
.color_account {
    background: linear-gradient(to right, rgb(236, 211, 99), rgb(230, 225, 164));
}
.color_info {
    background: linear-gradient(to right, rgb(99, 236, 151), rgb(164, 230, 197));
}

.box-card-img{
    position: absolute;
    opacity: calc(0.07);
    overflow: hidden;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.font-card-img{
    position: absolute;
    right: -10%;
    bottom: -65%;
}

.btn-a:focus, .btn-a:hover, .btn-a:active {
    box-shadow: none;
}

@media only screen and (max-width: 768px) {
    
    .dashboard-nav {
        padding: 1rem 1rem 0;
    }

    .dashboard-info {
        grid-template-columns: auto;
        gap: 15px 5px;
        padding: 1rem;
    }

    .dashboard-profile {
        padding: 1rem;
        grid-template-columns: auto;
    }

    .box-profile-data {
        grid-template-columns: 49% 49%;
        gap: 10px;
    }

    .card-profile {
        margin: 0.5rem 0.5rem;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .dashboard-info {
        grid-template-columns: auto;
        gap: 15px 5px;
    }

    .box-profile-data {
        grid-template-columns: auto;
        gap: 10px;
    }

}

/* Large devices (laptops/desktops, 878px and up) */
@media only screen and (min-width: 878px) {

    .dashboard-info {
        grid-template-columns: auto auto;
        gap: 15px;
    }
    
    .box-profile-data {
        grid-template-columns: 49% 49%;
        gap: 10px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .dashboard-info {
        grid-template-columns: auto auto auto;
        gap: 20px;
    }

    .box-profile-data {
        grid-template-columns: 49% 49%;
        gap: 10px;
    }

}
