* {
    font-size: 0.9rem;
}

.input-style {
    border: none;
    border-bottom: 1px solid rgb(172, 170, 170);
    border-radius: 0;
    background-color: #F6FBFF;
}

.input-style:focus {
    outline: 0;
    box-shadow: none;
    background-color: #f0f8ff;
}

.is-valid {
    background-color: rgb(225, 250, 227);
}

.is-invalid {
    background-color: rgb(250, 225, 225);
}

.box-enviar-codigo {
    width: 50px;
    padding: 0.125rem 0.25rem;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-weight: bold;
    background-color: #fff;
}

.box-enviar-codigo:hover, .box-enviar-codigo:active {
    background-color: #eee;
}

.box-alert-load {
    height:15px; width:15px
}