
<form [formGroup]="form" class="p-3" (ngSubmit)="onSubmit()">
  <p class="text-muted ms-1" style="font-size: 0.9rem; line-height: 22px; ">Para actualizar tu contraseña tenés que ingresar el código de 6 dígitos que envíaremos a tu correo. 
    <span class="border rounded text-primary box-enviar-codigo" *ngIf="envio == 0" (click)="enviar_codigo()" title="Enviar código">Enviar código</span>
    <span class="border rounded text-primary box-enviar-codigo" *ngIf="envio == 1">
        <div class="spinner-border box-alert-load" role="status">
          <span class="visually-hidden">...loading</span>
        </div>
    </span>
    <span class="border rounded text-primary box-enviar-codigo" *ngIf="envio == 2" (click)="enviar_codigo()" title="Re-enviar código">Re-enviar código</span>
  </p>
    <!-- Código actual -->
    <div class="mb-2">
      <label for="InputCode" class="form-label ps-2">Ingresá el código</label>
      <div class="form-group d-flex">
        <input type="text" 
             class="form-control input-style"
             id="InputCode"
             #InputCode
             aria-describedby="codeHelp"
             formControlName="codigo"
             placeholder="Escribí aquí..."
             (focus)="actualizarSmt()"
             [ngClass]="form.get('codigo')?.valid?'is-valid':(((form.get('codigo')?.invalid)&&(form.get('codigo')?.dirty||form.get('codigo')?.touched))?'is-invalid':'')"
        />
        <button type="button" class="btn ms-2" 
                [ngClass]="( (estadoValidacion == 'verificar')||(estadoValidacion == 'loading') )?'btn-primary':( (estadoValidacion == 'ok')?('btn-success'):((estadoValidacion == 'error')?'btn-danger':'') )" [disabled]="form.get('codigo')?.invalid || (estadoValidacion != 'verificar')" 
                (click)="verificarCodigo(form.get('codigo')?.value)"
        >
          <span *ngIf="estadoValidacion == 'verificar'">Verificar</span>
          <span *ngIf="estadoValidacion == 'loading'">loading...</span>
          <span *ngIf="estadoValidacion == 'ok'">Ok!</span>
          <span *ngIf="estadoValidacion == 'error'">Error!</span>
        </button>
      </div>
      
      <div style="min-height: 15px; font-size: 0.9rem;">
        <div class="invalid-feedback d-flex justify-content-start mt-0" *ngIf="(form.get('codigo')?.invalid)&&(form.get('codigo')?.dirty||form.get('codigo')?.touched)">
          <span *ngIf="form.get('codigo')?.errors?.['required']">El código es requerido.</span>
          <span *ngIf="form.get('codigo')?.errors?.['minlength']">El código debe tener 6 caracteres.</span>
          <span *ngIf="form.get('codigo')?.errors?.['maxlength']">El código debe tener 6 caracteres.</span>
        </div>
      </div>
    </div>

    <!-- Constraseña nueva -->
    <div class="mb-2">
        <label for="Password" class="form-label ps-2">Ingresá tu contraseña nueva</label>
        <input type="password" 
               class="form-control input-style"
               id="Password" 
               aria-describedby="passwordHelp"
               formControlName="password"
               placeholder="Escribí aquí..."
               [ngClass]="form.get('password')?.valid?'is-valid':(((form.get('password')?.invalid)&&(form.get('password')?.dirty||form.get('password')?.touched))?'is-invalid':'')"
        />
        <div style="min-height: 15px; font-size: 0.9rem;">
          <div class="invalid-feedback d-flex justify-content-start mt-0" *ngIf="(form.get('password')?.invalid)&&(form.get('password')?.dirty||form.get('password')?.touched)">
            <span *ngIf="form.get('password')?.errors?.['required']">La contraseña es requerida.</span>
            <span *ngIf="form.get('password')?.errors?.['minlength']">La contraseña debe tener más de 4 caracteres.</span>
            <span *ngIf="form.get('password')?.errors?.['maxlength']">La contraseña no debe superar los 20 caracteres.</span>
          </div>
        </div>
    </div>

    <!-- Repetir contraseña -->
    <div class="mb-2">
        <label for="InputPasswordRep" class="form-label ps-2">Repetí la contraseña ingresada</label>
        <input type="password" 
               class="form-control input-style"
               id="InputPasswordRep" 
               aria-describedby="passwordRepHelp"
               formControlName="passwordRep"
               placeholder="Escribí aquí..."
               [ngClass]="(form.get('passwordRep')?.valid)&&(!form.errors?.['noIguales'])?'is-valid':( (form.get('passwordRep')?.invalid || form.errors?.['noIguales']) && (form.get('passwordRep')?.dirty||form.get('passwordRep')?.touched)?'is-invalid':'')"
        />
        <div style="min-height: 15px; font-size: 0.9rem;">
          <div class="invalid-feedback d-flex justify-content-start mt-0" *ngIf="(form.get('passwordRep')?.invalid || form.errors?.['noIguales'])&&(form.get('passwordRep')?.dirty||form.get('passwordRep')?.touched)">
            <span *ngIf="form.get('passwordRep')?.errors?.['required']">Este campo es requerido.</span>
                <span *ngIf="form.errors?.['noIguales']">La contraseña no es la misma.</span>
          </div>
        </div>
    </div>

    <!-- Campo ID hidden -->
    <input type="hidden" formControlName="id">

    <button type="submit" 
            class="btn btn-primary form-control mt-1" 
            [disabled]="form.invalid || estadoSmt != 'actualizar' || estadoValidacion != 'ok'"       
    >
      <span *ngIf="estadoSmt == 'actualizar'">Actualizar</span>
      <span *ngIf="estadoSmt == 'load'">Loading...</span>
      <span *ngIf="estadoSmt == 'ok'">Ok!</span>
      <span *ngIf="estadoSmt == 'error'">Error!</span>
    </button>
</form>
