<div class="main-content">
  <div class="header-content col-md-3">
    <p>Recuperá tu cuenta</p>
  </div>
  <div class="body-content col-md-3">
    <app-forgot-enviar (estado)="actualizar_proceso($event)" (verificado_email)="guardar_email($event)" *ngIf="estado_proceso == 'enviar'"></app-forgot-enviar>
    <app-forgot-verificar (estado)="actualizar_proceso($event)" [user_email]="user_email" *ngIf="estado_proceso == 'verificar'"></app-forgot-verificar>
    <app-forgot-actualizar (estado)="actualizar_proceso($event)" [user_email]="user_email" *ngIf="estado_proceso == 'actualizar'"></app-forgot-actualizar>
  </div>
</div>
