<form [formGroup]="form" class="p-3" (ngSubmit)="onSubmit()">
      <!-- Constraseña nueva -->
      <div class="mb-2">
          <label for="Password" class="form-label ps-2">Ingresá tu contraseña nueva</label>
          <input type="password" 
                 class="form-control input-style"
                 id="Password" 
                 aria-describedby="passwordHelp"
                 formControlName="password"
                 (focus)="actualizarSmt()"
                 [ngClass]="form.get('password')?.valid?'is-valid':(((form.get('password')?.invalid)&&(form.get('password')?.dirty||form.get('password')?.touched))?'is-invalid':'')"
          />
          <div style="min-height: 15px; font-size: 0.9rem;">
            <div class="invalid-feedback d-flex justify-content-start mt-0" *ngIf="(form.get('password')?.invalid)&&(form.get('password')?.dirty||form.get('password')?.touched)">
              <span *ngIf="form.get('password')?.errors?.['required']">La contraseña es requerida.</span>
              <span *ngIf="form.get('password')?.errors?.['minlength']">La contraseña debe tener más de 4 caracteres.</span>
              <span *ngIf="form.get('password')?.errors?.['maxlength']">La contraseña no debe superar los 20 caracteres.</span>
            </div>
          </div>
      </div>
  
      <!-- Repetir contraseña -->
      <div class="mb-2">
          <label for="InputPasswordRep" class="form-label ps-2">Repetí la contraseña ingresada</label>
          <input type="password" 
                 class="form-control input-style"
                 id="InputPasswordRep" 
                 aria-describedby="passwordRepHelp"
                 formControlName="passwordRep"
                 (focus)="actualizarSmt()"
                 [ngClass]="(form.get('passwordRep')?.valid)&&(!form.errors?.['noIguales'])?'is-valid':( (form.get('passwordRep')?.invalid || form.errors?.['noIguales']) && (form.get('passwordRep')?.dirty||form.get('passwordRep')?.touched)?'is-invalid':'')"
          />
          <div style="min-height: 15px; font-size: 0.9rem;">
            <div class="invalid-feedback d-flex justify-content-start mt-0" *ngIf="(form.get('passwordRep')?.invalid || form.errors?.['noIguales'])&&(form.get('passwordRep')?.dirty||form.get('passwordRep')?.touched)">
              <span *ngIf="form.get('passwordRep')?.errors?.['required']">Este campo es requerido.</span>
                  <span *ngIf="form.errors?.['noIguales']">La contraseña no es la misma.</span>
            </div>
          </div>
      </div>
  
      <button type="submit" 
              class="btn btn-primary form-control mt-1" 
              [disabled]="form.invalid || estadoSmt != 'actualizar'"       
      >
        <span *ngIf="estadoSmt == 'actualizar'">Actualizar</span>
        <div *ngIf="estadoSmt == 'load'" class="spinner-border box-load" role="status">
          <span class="visually-hidden">...loading</span>
        </div>
        <span *ngIf="estadoSmt == 'ok'">Ok!</span>
        <span *ngIf="estadoSmt == 'error'">Error!</span>
      </button>
      <div class="alert mt-3 mb-1" [ngClass]="classLogin" [hidden]="!displayLogin">
        <p class="mb-0 d-block text-center">{{ messageLogin }}</p>
      </div>
  </form>
