
.input-style {
    border: none;
    border-bottom: 1px solid rgb(172, 170, 170);
    border-radius: 0;
    background-color: #F6FBFF;
}

.input-style:focus {
    outline: 0;
    box-shadow: none;
    background-color: #f0f8ff;
}

.is-valid {
    background-color: rgb(225, 250, 227);
}

.is-invalid {
    background-color: rgb(250, 225, 225);
}

.box-load {
    height:20px; width:20px
}