
.tag-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.75rem 25px 0;
    height: 96px;
    position: relative;
}

.title-box {
    margin: 0 1rem;
    border-radius: 10px;
    padding: 0.75rem;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.tag-profile-content {
    background-color: rgb(247, 247, 247);
}

.color-nav-tab {
    background-color: rgb(247, 247, 247);
}

.btn-return {
    position:absolute;
    left: 20px;
    font-size: 2rem;
    cursor: pointer;
    opacity: 0.6;
}

.btn-return:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 768px) {
    
    .title-box {
        margin: 0;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {



}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {



}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {



}